[2014-04-05 13:59] Alir3z4 opened #1 "Add ChangeLog file"

[2014-04-05 14:00] Alir3z4 opened #2 "Add AUTHORS file"

[2014-04-05 14:06] #1 closed, assigned to Alir3z4

[2014-04-05 14:16] #2 closed, assigned to Alir3z4

[2014-04-05 15:27] Alir3z4 opened #5 "Turn readme file from Markdown to reStructuredText"

[2014-04-09 13:33] mcepl opened #6 "Consider some upstream pull requests"
- [x] https://github.com/aaronsw/html2text/pull/87
- [x] https://github.com/aaronsw/html2text/issues/7

[2014-04-09 22:22] Alir3z4 opened #7 "Don't append newlines inside a span"
the pull request on mainstream have conflicts with code base, https://github.com/aaronsw/html2text/pull/87.

[2014-04-09 22:40] Alir3z4 opened #8 "Remove `How to do a release` section from README.md"
I don't think people need to do that usually, I see also most of the upstream changes have the version number updated.

[2014-04-13 13:16] #8 closed, assigned to nobody

[2014-04-13 14:06] #6 closed, assigned to nobody

[2014-04-21 21:08] hartwork opened #11 "2014.4.5 tarballs on PyPI lack test data files test/*.{md,html} ?"
Comparing
https://github.com/Alir3z4/html2text/archive/2014.4.5.tar.gz
with
https://pypi.python.org/packages/source/h/html2text/html2text-2014.4.5.tar.gz
the former does contain files `test/*.{md,html}` while the latter does not.

So the PyPI release test suite is running 0 tests.
Is that intended? Otherwise please fix :)

[2014-04-22 16:31] #11 closed, assigned to Alir3z4

[2014-05-26 09:42] #5 closed, assigned to nobody

[2014-06-19 19:40] OOPMan opened #13 "Memory Leak in html2text 2014.4.5"
I recently added html2text 2014.4.5 to my project and have been using it to convert HTML generated from Jinja2 templates into text. I attach the HTML and the text version of said HTML to emails constructed using the standard email.mime classes.

I added html2text amidst some other changes and so it took me a little time to track down that the source of a memory leak issue that started occurring to

[2014-07-03 17:50] #13 closed, assigned to nobody

[2014-07-05 00:03] Alir3z4 opened #15 "i18n"
Since not all of the world is speaking English, having i18n (or as @svetlemodry said [internationalization](http://www.i18nguy.com/origini18n.html)) would be really good.

Right now, https://github.com/Alir3z4/html2text/blob/master/html2text/cli.py is the only place to start working on its translation.

Python itself is great with `gettext` and handling translations, the only thing that remains is

[2014-07-05 00:08] Alir3z4 opened #16 "Remove install_deps.py"
And replace it with a better solution

[2014-07-05 00:11] Alir3z4 opened #17 "pypin time"

[2014-07-06 23:56] Alir3z4 opened #19 "Make html2text a package"
Bring `html2text` to a separate module and take out the `conf`/`constant` variables

[2014-07-06 23:57] #19 closed, assigned to Alir3z4

[2014-07-07 00:00] Alir3z4 opened #20 "Remove website address"
`http://www.aaronsw.com/2002/html2text/` should be remove from the project and replaced with something else
- Github generated website (from readme file)
- or nothing

[2014-07-07 00:03] Alir3z4 opened #21 "Remove meta vars from html2text.py file header"
Such as copyright author license and some other
These information already mentioned in separate files such as COPYING AUTHORS.rst etc

[2014-07-07 00:08] #21 closed, assigned to Alir3z4

[2014-07-07 00:23] #16 closed, assigned to nobody

[2014-07-07 00:41] #17 closed, assigned to nobody

[2014-07-12 06:31] max-arnold opened #24 "3.200.3 vs 2014.7.3 output quirks"
Just upgraded from 3.200.3 to 2014.7.3 and noticed the following things:

### Bold text inside links
[code]

Before: `[**Text**](link.htm)`
After: `**[Text**](link.htm)` (to me this looks incorrect)

### Image links
[code]

Before: `[![Title](images/thumbnails/image.jpg)](images/image.jpg)`
After: `![Title](images/thumbnails/image.jpg)`

### Literal links

Links like this `[http://example.com](htt

[2014-08-22 03:46] alethiophile opened #26 "Ordering issue with emphasis output"
html2text turns input of the form

    <i>weird </i>whitespace

into output of form

    _weird _whitespace

This isn't valid Markdown (or rather, it just leaves the underscores literal rather than translating them back); it seems reasonable that the output should instead be of the form

    _weird_ whitespace

Similarly, input like

    <i>inside</i>word

turns into

    _inside_word

also not va

[2014-09-03 18:26] seocam opened #27 "Better table support"
As Markdown supports tables it would be nice if we could convert the html <table> properly.

[2014-09-08 08:58] romilly opened #28 "2014.9.7 is broken"
Installs from pypi, tests are present but the html2test.py module is not.

[2014-09-08 13:15] #28 closed, assigned to Alir3z4

[2014-09-18 16:33] hartwork opened #30 "Release 2014.9.8 only on PyPI?"
It seems releases are out of sync with PyPI on Github:

Latest 2014.9.8
https://pypi.python.org/pypi/html2text

Latest 2014.7.3
https://github.com/Alir3z4/html2text/releases
https://github.com/html2text/html2text/releases

Please get them back in sync. Thanks!

[2014-09-18 20:22] #30 closed, assigned to Alir3z4

[2014-09-18 20:30] #20 closed, assigned to Alir3z4

[2014-09-20 18:29] #7 closed, assigned to Alir3z4

[2014-09-25 15:30] #27 closed, assigned to nobody

[2014-10-04 00:08] Alir3z4 opened #31 "HTMl enities get out of anchor text"
@szepeviktor:

another strange behaviour
[code]
[code]

[2014-10-04 00:19] Alir3z4 opened #32 "Use kramdown/Markdown Extra/MMD/pandoc Definition List Format"
@lupiter: Currently definition lists are formatted as

    The DT item
        The DD item
        The other DD item

Would it be possible to used MD Extra format instead?

    The DT item
    :    The DD item
    :    The other DD item

I believe this would only be a teeny tiny change on line 564. I'd write a pull request but I'm 'not allowed' to write GPLv3 code :(
- - -
@mcepl: I vote -1 on thi

[2014-10-04 00:24] Alir3z4 opened #33 "img link in 'a href'"
@dvasseur The following html code
[code]
is converted to ````[Go to google](images/google.png)````
I would have prefered, ````[Go to google](http://google.com)````

can this be done ?
- - -
@szepeviktor: This is so in Markdown:
[![Go to google](http://www.google.com/images/errors/logo_sm_2.png)](http://google.com)
[code]
- - -
@Alir3z4 Hmm, this is interesting actually:
[code]
Sure it has its own

[2014-10-04 14:18] hashken opened #34 "File html2text.py (for module html2text) not found"
When I try to install html2text, 15 of the 34 tests are failing.

When setup.py is running, the following message is thrown
`file html2text.py (for module html2text) not found`

This most probably seems to be the reason for the tests failing. Any solutions to this problem?

[2014-10-05 17:37] Alir3z4 opened #35 "Remove py_modules from setup.py"

[2014-10-05 17:37] #35 closed, assigned to Alir3z4

[2014-10-05 19:54] #34 closed, assigned to nobody

[2014-10-06 03:00] Arfrever opened #36 "Do not install tests"
`python2.7 setup.py install` needlessly installs `test` directory as `/usr/lib/python2.7/site-packages/test`.

Inclusion of `test` directory in source tarball is already provided by `recursive-include test *.html *.md *.py` line in `MANIFEST.in`.

[code]

[2014-10-06 08:21] #36 closed, assigned to nobody

[2014-10-18 19:05] stefanor opened #38 "Wraps long URLs"
Forwarding aaronsw/html2text#7, so it doesn't get forgotten:
Forwarding http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=616090:

Long URLs are wrapped, which they probably shouldn't be.

Example:

    <html>
    <head><title>Test</title></head>
    <body>
    <p>And <a href="http://bugs.debian.org/cgi-bin/pkgreport.cgi?tag=multiarch;users=debian-dpkg@lists.debian.org">here</a> is a long link I ha

[2014-10-24 16:35] Alir3z4 opened #39 "Document features and capability of project in README"
Currently it's not clear what kind of features html2text comes with.

at the moment it can handle:

* General [x]html tags, <table>, etc ...
* Unicode
* Packaged with a command line utility
* `HTML2Text` class to be used in other apps.
* ...

[2014-11-01 15:08] Alir3z4 opened #40 "Extract cli to separate module"

[2014-11-01 15:09] Alir3z4 opened #41 "Extract utility/helper methods to `utils` module"

[2014-11-01 15:34] Alir3z4 opened #42 "Bring python version compatibility to separate module"
And name is `compat.py`

[2014-11-01 16:02] #40 closed, assigned to nobody

[2014-11-01 16:02] #42 closed, assigned to Alir3z4

[2014-11-01 16:33] #41 closed, assigned to nobody

[2014-12-01 12:19] bulletmark opened #45 "Does not accept standard input when running under python 3"
When running under python 3, html2text will not accept standard input, e.g:

[code]

If you put that input string in a file and pass it as an argument it works ok. Or if you use python 2.

I discovered this on Arch linux with the standard python-html2text package from the community repo. Python 3 is the default python on Arch but I reproduced the problem on a debian box.

[2014-12-05 17:13] #45 closed, assigned to Alir3z4

[2014-12-05 22:14] Alir3z4 opened #47 "Why html2text module throws UnicodeDecodeError?"
I have problem with html2text module...shows me UnicodeDecodeError:

    UnicodeDecodeError: 'ascii' codec can't decode byte
    0xbe in position 6: ordinal not in range(128)

Example :

    #!/usr/bin/python
    # -*- coding: utf-8 -*-
    import html2text
    import urllib

    h = html2text.HTML2Text()
    h.ignore_links = True

    html = urllib.urlopen( "http://google.com" ).read()

    print

[2014-12-17 20:19] philfreo opened #48 "Backslash getting inserted before multiple dashes"
Anyone have an explanation or fix for this? It seems like a bug to me.

I'm running version `2014.12.5`

[code]

[2014-12-29 07:40] Alir3z4 opened #52 "Fix AUTHROS.rst formatting"

[2014-12-29 07:40] #52 closed, assigned to Alir3z4

[2015-01-08 09:22] amritkrs opened #53 "UnicodeDecode Error"
r = requests.get("http://en.wikipedia.org/wiki/Python_%28programming_language%29")
print html2text.html2text(r.content)

Traceback (most recent call last):
File "", line 1, in
File "html2text/init.py", line 750, in html2text
return h.handle(html)
File "html2text/init.py", line 121, in handle
return self.optwrap(self.close())
File "html2text/init.py", line 139, in close
outtext = nochr.join(self.ou

[2015-01-08 09:23] Alir3z4 commented on #53
duplicate of #47

[2015-01-08 09:23] #53 closed

[2015-01-08 09:28] amritkrs commented on #53
sorry,i was asked to post here from https://github.com/aaronsw/html2text/issues/96#issuecomment-69016416.
i should have checked!

[2015-01-08 09:40] Alir3z4 commented on #53
@amritkrs no problem.
in the issue #47 the word around is also mentioned which is a SO answer.

patches are welcome as well.

[2015-01-08 09:47] Alir3z4 commented on #53
@mcepl thank you to guide user to this repo ;)

[2015-01-08 10:12] amritkrs commented on #53
Thank you guys for all your help,its working nicely!

[2015-01-08 11:07] mcepl commented on #53
That was meant seriously or ironically? Anyway, Happy New Year!

[2015-01-08 11:13] Alir3z4 commented on #53
@mcepl Of course I meant it and serious. Happy New Year to you too, wish you have a greatest one ;)

[2015-02-07 00:35] 1n1r2 opened #54 "html2text fails on daringfireball"
I couldn't figure out how to resolve this myself.

Install on cygwin with python 2.7
html2text seems to work on many sites:

html2text https://michelf.ca/projects/php-markdown/extra

But not on Gruber's standard syntax:

html2text http://daringfireball.net/projects/markdown/syntax

The reason for extracting syntax from daringfireball is the gray-background pages are so hard to read.

Nice applicat

[2015-03-16 07:27] mcepl commented on #54
a) WORKSFORME ... the command line you show doesn't give any error and produces (IMHO) correct Markdown output (python 2.7.5, html2text from the master branch)
b) if you have some error, please, include it here.

[2015-03-20 21:30] szepeviktor commented on #33
It is solved now?

[2015-03-20 21:36] szepeviktor commented on #33
:smile: Yes it does.

[code]

[code]

[2015-03-20 21:36] szepeviktor commented on #33
@Alir3z4 Please close it.

[2015-03-21 00:41] Alir3z4 commented on #33
@szepeviktor Thanks for the update and follow up on this issue.
I'll close now.

[2015-03-21 00:41] #33 closed

[2015-04-10 22:36] aykevl opened #58 "Spaces inside and around links are concatenated"
When there's a space before a link and before the link's content, both are preserved:

[code]

Browsers strip the text inside the link:

This is html2text installed from pip, on Debian jessie.

[2015-04-13 16:08] Alir3z4 commented on #58
I don't think this is a big bug.
Spaces and half-spaces should be preserved for some formatting reasons.

I'll leave this issue here for now, but It shouldn't be considered as a bug.
Although formatting options/flags are welcome.

*half-spaces*: *In Persian based languages such as Arabic, Farsi, Dari, etc is a must. Words like می باشد  and می‌باشد are such examples.*

[2015-04-15 17:27] jmagnusson commented on #38
Took me a while to find that `html2text` indirectly caused the `%0A` (newline in URL encoding) occurring in my links. I've temporarily disabled `body_width` wrapping in my code to prevent it.
[code]

[2015-04-16 02:53] Alir3z4 commented on #38
Hey @jmagnusson @stefanor
I see these two hacks trying to fix the issue:
* https://github.com/leonardoo/django-userena/commit/4b5dd731f5d39085b78a02fea2c94d229b3f8817
* https://github.com/emencia/emencia-django-newsletter/commit/a9adff758e56b949db8c1952bf3da541bf87fd47

Do you think we can apply the same into htmltext without explicitly set `body_width=0` ?

[2015-04-22 10:58] barsch opened #61 "Malformed output of links"
[code]
while this works as expected

[code]

[2015-05-30 01:02] the01 opened #62 "[Enhancement] Automatic version number"
I would like to propose a way to automatically load the version info from the package (__init__.py) into setup.py:

[code]
and then you just do
[code]
Adapted from [stackoverflow.com](http://stackoverflow.com/questions/2058802/how-can-i-get-the-version-defined-in-setup-py-setuptools-in-my-package)

[2015-05-30 11:42] Alir3z4 commented on #62
Good idea, I do this in other projects that I maintain.

* https://github.com/Alir3z4/python-short_url/blob/master/setup.py#L8
* https://github.com/Alir3z4/python-short_url/blob/master/short_url/__init__.py#L50

lemme know what you think about it ;)

[2015-05-30 14:28] theSage21 commented on #61
Just started using this. working on it.

[2015-05-30 18:29] the01 commented on #62
Using __import__() with .__version__ is certainly cleaner, but the problem is that you actually import that file, meaning you are running code here. Say if you had some further imports in the __init__-file, those would get imported too and so on and so on. You might end up with race conditions or difficulties with relative imports...
That's why I went for the more inelegant version of parsing the

[2015-05-31 08:33] theSage21 commented on #61
@Alir3z4 @barsch Am I right in assuming that

    <a href="http://www.test.com">http://www.test.com</a>
should give me
    `[http://www.test.com](http://www.test.com)`

I am a little new to markdown.

[2015-05-31 09:12] Alir3z4 commented on #61
@theSage21 That is correct, `<a href="http://www.test.com">http://www.test.com</a>` should give `[http://www.test.com](http://www.test.com)`

[2015-05-31 09:15] theSage21 commented on #61
@Alir3z4 Also. Should I add some documentation? As a non English speaker this repo was very confusing to me initially. Docs would have helped.

[2015-05-31 09:27] Alir3z4 commented on #61
@theSage21 Sure, that would be great.
You can have #39 this one as well if you like.

[2015-05-31 09:31] theSage21 commented on #61
@Alir3z4 Al right. I will try to fix this then #39

[2015-05-31 09:32] Alir3z4 commented on #61
Awesome ;)

On Sun, May 31, 2015 at 1:31 PM, arjoonn sharma <notifications@github.com>
wrote:

[2015-05-31 12:22] theSage21 commented on #61
This is triggered whenever the text matches the url and is an absolute url.
It seems this is deliberate. Lines 698 to 701

![delibrate code](https://cloud.githubusercontent.com/assets/7693265/7901897/8e421a28-07bd-11e5-9f27-48a7dae28fb5.png)

Removing that condition fixes it. I am not sure if this is a requirement of markdown or not. @Alir3z4 @barsch .

[2015-05-31 16:17] theSage21 commented on #61
@Alir3z4 @barsch This is not a bug. The test/url-escaping.md specifically tests this functionality. I recommend that this issue be closed.

[2015-05-31 19:22] barsch commented on #61
Is ```<http://www.test.com>``` a valid Markdown syntax for an inline link?

http://daringfireball.net/projects/markdown/syntax#link states:

[code]
[id]: <http://example.com/>  "Optional Title Here"
[code]

[2015-06-01 03:51] theSage21 commented on #61
In the tests directory the url-escaping.md file has
`* Use automatic links like <http://example.com/> when the URL is the label`
Since this type of conversion has been specifically tested I think it was intended to be a feature.

Also notice that
`<a href="http://www.test.com">http://www.test.com</a>`
`<a href="http://www.test.com/">http://www.test.com/</a>`
both translate validly to:
`<http://www

[2015-06-01 16:02] theSage21 commented on #61
@barsch @Alir3z4 How about we add a config parameter which is by default left to use automatic links but can be set to translate these types of links to normal Markdown? I think that is a good idea since people can configure as they wish then and people already depending on this module can go on undisturbed.

[2015-06-01 19:21] alawibaba opened #63 "Nested code, anchor bug"
There's a bug that crops up when anchor text is code:

    u'`[google`](http://www.google.com)\n\n'

Should return:

    u'[`google`](http://www.google.com)\n\n'

(Looks related to [issue 24](https://github.com/Alir3z4/html2text/issues/24).)

[2015-06-03 07:32] #63 closed

[2015-06-03 08:41] #39 closed

[2015-06-04 04:28] theSage21 commented on #24
I cannot reproduce this. Close the issue if solved?

[2015-06-04 05:24] theSage21 opened #69 "Link titles lost."
`<a href="htt://example.com" title="Title"> an example</a> inline link.`

Produces

`This is [ an example](http://example.com/) inline link.`

when

`This is [ an example](http://example.com/ "Title") inline link.`

is expected as per Daring Fireball.

[2015-06-04 06:58] max-arnold commented on #24
Master branch, revision 0112b5fd9cc603a6e8a505789bd5869b5dab5577:

Input:

    <html><body>
    <p><a href="link.htm"><b>Text</b></a></p>
    <p><a href="images/image.jpg"><img alt="Title" src="images/thumbnails/image.jpg"></img></a></p>
    <p><a href="http://example.com">http://example.com</a></p>
    <p>1. Paragraph</p>
    </body></html>

Output:

    **[Text**](link.htm)

    [![Title](images

[2015-06-04 07:17] theSage21 commented on #24
The test is passing.
Am I correct in assuming `[**text**]` is required instead of `**[text**]`?
If so then the tests are passing correctly.

![screenshot from 2015-06-04 12 43 11](https://cloud.githubusercontent.com/assets/7693265/7978832/70fec36a-0ab7-11e5-9cfc-98d9645403bf.png)

- The right shows html and expected Markdown.
- The left part shows that all tests passed.

Can someone else confirm t

[2015-06-04 08:03] Alir3z4 commented on #24
@theSage21 I tested with the latest of the master, @max-arnold is right about it:
[code]

[2015-06-04 08:10] theSage21 commented on #24
@Alir3z4 Strange. I am unable to reproduce this. Will try after a few days when I have time.

[2015-06-04 10:20] theSage21 opened #71 "Coverage not detecting cmd line test execution"
The coverage module is not detecting the command line tests due to them being carried out
in subprocesses.

Am I right in this?[Nedbat](http://nedbatchelder.com/code/coverage/subprocess.html) shows us how to do it but I am unable to implement it.

Fixing this would increase code coverage a lot as the cli.py file currently stands at 0% coverage.

I do not have experience with coverage.py and so it

[2015-06-04 14:33] alawibaba commented on #24
PR https://github.com/Alir3z4/html2text/pull/64 should have fixed this; just tested master on my box:

    $ git clone https://github.com/Alir3z4/html2text.git
    Cloning into 'html2text'...
    remote: Counting objects: 1389, done.
    remote: Compressing objects: 100% (92/92), done.
    remote: Total 1389 (delta 47), reused 0 (delta 0), pack-reused 1296
    Receiving objects: 100% (1389/1389),

[2015-06-04 15:13] Alir3z4 commented on #24
@alawibaba I'm on the latest as well, this is weird.
Lemme try to re-initialize the environment.

[2015-06-04 15:16] theSage21 commented on #24
@alawibaba On Mint 17, python 2.7.6 and python 3.4.0 all tests pass. This is with a clean install of venv and git clone at commit 0112b5fd9cc603a6e8a505789bd5869b5dab5577

[code]

and

[code]

[2015-06-04 15:21] Alir3z4 commented on #24
@alawibaba @max-arnold @theSage21 I confirm `**[Text**](link.htm)` doesn't happen:

input:
[code]
output:
[code]

I'll create new tests in a minute.

I'm so happy this issue is going to be closed.

[2015-06-04 15:45] Alir3z4 commented on #24
Yep, this issue can be closed.

[2015-06-04 20:10] alawibaba commented on #24
:+1: Glad to see this closed!

[2015-06-04 20:53] nikolas opened #74 "html2text throws ValueError on invalid unicode entities"
Using html2text 2015.4.14, python 2.7.9 on Ubuntu 15.06, x86_64:
[code]
Possibly addressed by PR #60?

[2015-06-05 03:52] max-arnold commented on #24
Works for me too, thanks a lot! Any plans for next release?

[2015-06-05 07:09] Alir3z4 commented on #61
@theSage21 I like the idea of having config for those kind of link. is `--reference-link` option does it ?

[2015-06-05 07:13] Alir3z4 commented on #69
I mark this as `enhancement` not a `bug`.

[2015-06-05 07:33] Alir3z4 commented on #54
Marked as `invalid` and `wontfix`.

Please feel free to re-open if you facing the issue and have some errors to include and some way to reproduce.

[2015-06-05 07:33] #54 closed

[2015-06-05 07:34] #62 closed

[2015-06-05 07:46] Alir3z4 commented on #24
New release https://pypi.python.org/pypi/html2text/2015.6.6 ;)

[2015-06-05 07:46] #24 closed

[2015-06-09 10:54] theSage21 commented on #71
Corrected in #75

[2015-06-10 17:01] #71 closed

[2015-06-14 05:28] theSage21 commented on #31
This is only caused when the link text begins with a char reference.
`<a href="http://thth">&#225;ll&#225;s: Country Manager</a>` causes the bug.
`<a href="http://thth"> &#225;ll&#225;s: Country Manager</a>` translates correctly to
`[ állás: Country Manager](http://thth)`

This is because the first call is to `handle_charref` and after that `handle_data` and `handle_data` is the function that adds

[2015-06-14 08:45] theSage21 commented on #31
The issue is solved in #77. Can we close this?

[2015-06-14 08:50] szepeviktor commented on #31
Please wait till I get home, and confirm.

[2015-06-14 11:07] theSage21 commented on #31
@szepeviktor sure sure. it is morning again and I have to sleep. See you on the other side of the sun. :smile:

[2015-06-14 11:29] theSage21 commented on #47
I am not sure what the issue is here. The SO question above shows why the error is happening and it is based on the way the user uses the library.

[2015-06-14 12:02] theSage21 commented on #26
Entering the generated markdown [here](http://markdownlivepreview.com/) gets the expected look.
Markdown is an editing format. The ultimate goal is to obtain HTML form it. `_some _word converts perfectly to HTML.

`<i>wierd </i>whitespace` should be rendered as `_wierd _whitespace` since the space is inside the <i> tag.
The space after `wierd` is also italicized. Since this is keeps us from losing

[2015-06-14 12:20] theSage21 commented on #69
In the [init file](https://github.com/Alir3z4/html2text/blob/master/html2text/__init__.py) line 667 and 668,
I think an attempt is made to add link titles. Am I wrong? If I am what is this piece of code doing?

[2015-06-14 23:01] szepeviktor commented on #31
There is a problem:
[code]
Shouldn't `&#225;` be `á`?

[2015-06-15 02:15] theSage21 commented on #31
@szepeviktor The command line by default works with ASCII. Hence they are being converted to ASCII equivalents. As of now there is no command line option for `unicode`. Try this.
[code]

[2015-06-15 07:01] theSage21 commented on #58
I do not understand the issue? Is the preservation of spaces the bug in question?

[2015-06-15 22:21] szepeviktor commented on #31
Thank you.
Please merge #77.

[2015-06-16 05:10] #31 closed

[2015-06-17 03:41] theSage21 commented on #74
@nikolas What should this unicode entity be translating into?

[2015-06-17 03:43] nikolas commented on #74
probably an empty string since that unicode entity doesn't exist

[2015-06-17 07:54] Alir3z4 commented on #74
Fixed in #79

[2015-06-17 07:54] #74 closed

[2015-06-17 12:32] theSage21 commented on #48
The multiple dashes are used in MD to mark headers and so are escaped. For reference look [here](http://daringfireball.net/projects/markdown/syntax#header).

[2015-06-17 13:23] theSage21 commented on #69
Link titles were lost in inline links.
[code]
gives us
[code]
while doing
[code]
gives us
[code]
The 'Title' attribute is lost in the inline style links.
Just putting it here so that people know what was wrong.

[2015-06-17 13:32] aykevl commented on #58
I had to work aroud this bug in another project, as the text version was showing two spaces where the HTML version (in an email) was showing only one space as intended.

As an additional argument, when the spaces are at one side of the link tag, html2text *only outputs one space*:

[code]

Just like browsers do:

Note that the space in the second example is part of the link (in Chrome).

I don't k

[2015-06-17 13:45] theSage21 commented on #58
A browser renders one space irrespective of how many spaces are there between two words.
Creating a file `sample.html` or testing [here](http://htmledit.squarefree.com/) with the following html

[code]

shows that the spaces do not matter and only one space is rendered even though the html is evidently not the same.

@aykevl My point being that html2text preserves information from the original htm

[2015-06-17 17:13] theSage21 opened #81 "Make all available options command line flags?"
A lot of the options html2text supports are not available via the command line.

Making them available as command line flags should be nice for a lot of people.

@Alir3z4 Thoughts?

[2015-06-18 10:38] #69 closed

[2015-06-18 10:39] Alir3z4 commented on #81
@theSage21 Yeah, that is required for sure.
I agree all the options should be available as flags on CLI as well.

[2015-06-18 10:48] Alir3z4 commented on #58
As @mcepl once mentioned can we transform the data to its original form or we gonna loose the format of the original.

We're fine with any implementations as long as the text can keep it's original form after parsing to html by python markdown parser.

@mcepl do you have any inputs on this?

[2015-06-19 08:25] theSage21 commented on #81
#82 Solves this and introduces more tests.

[2015-06-19 10:54] #81 closed

[2015-06-21 14:48] Alir3z4 commented on #48
I'm going to close this, please feel free to re-open.

[2015-06-21 14:48] #48 closed

[2015-06-21 14:49] #47 closed

[2015-06-23 08:36] laura-dietz opened #83 "install instructions out of date"
The install instructions say to use

$ pip install html2text

that only gets the Aaron's old version
$ html2markdown --version
html2markdown 3.200.3

Suggestion: Remove instructions from README.md ?

[2015-06-23 10:32] theSage21 commented on #83
Can  `$ html2markdown --version` possibly be an old version of html2text?
I have this on my machine.
[code]

[2015-06-23 11:52] laura-dietz commented on #83
Oh hmm .. you might be right. My system is in an unknown state because I
- installed with with apt-get
- removed it with apt-get
- installed it with pip
(that is where this issue is from)
- uninstalled it with pip
- installed it with setup.py

It works under html2text - but there is still an out-of-date trace on my system leading to html2markdown into the wrong version.

For reference, the content

[2015-06-23 11:59] Alir3z4 commented on #83
Not sure why you're getting this and why pip would install an old version.
I'm using html2text in bunch of other software and the build is everyday and never failed for  such a behavior.

Since it's related to Debian based @stefanor might be helpful and right person to reach for since packages on Debian based are slightly old.

Anyway, I'm going to close this an `wont-fix` and `invalid`.

@laura-d

[2015-06-23 11:59] #83 closed

[2015-06-23 12:00] laura-dietz commented on #83
I think it is leftover from the apt-get uninstall

[2015-06-23 12:38] theSage21 commented on #83
@laura-dietz Did you try to install in a clean virtualenv? That should clear up any issues about what goes in the current installation. As for the rest, I cannot say.

[2015-06-23 14:30] theSage21 commented on #61
@Alir3z4 Sorry, just noticed it. Yes `--reference-link` does it.

[2015-06-23 14:43] Alir3z4 commented on #61
@theSage21 So this issue can be closed if we consider `` --reference-link`` as the solution ?

[2015-06-23 16:59] theSage21 commented on #61
@Alir3z4 Yes. The issue can be closed. Automatic links are now optional via the `--reference-link` option.

[2015-06-23 17:31] #61 closed

[2015-07-01 00:29] strang3quark opened #85 "Body width not working with lists"
I use the body_width property to limit the width of the text but it seems not to be working for lists.

[2015-07-01 00:49] Alir3z4 commented on #85
@strang3quark Do you think #84 will be a good way to fix this ?

[2015-07-01 01:54] theSage21 commented on #85
@strang3quark Right. Will be working on this. Is this what you are experiencing?
[code]
This text spills over the body width specified. correct?

[2015-07-01 02:00] strang3quark commented on #85
@theSage21 yes, but it appears that it's not only related with lists.

This is the code I'm using:
[code]

There is a screenshot:
![2015-07-01_02 54 44](https://cloud.githubusercontent.com/assets/9934377/8446058/b1a2ed52-1f9c-11e5-85b5-d782afd2d022.png)

[2015-07-01 02:08] theSage21 commented on #85
@strang3quark Could you put the actual `html` here? I do not want to type all of that out. :smile:

[2015-07-01 02:16] strang3quark commented on #85
Sorry

https://gist.github.com/strang3quark/1008cf43ba3916867569

[2015-07-01 03:11] theSage21 commented on #85
@strang3quark I do not know how lists should be formatted when wrapped. Possibly something like this? Constant indent. As for the `pre` tags I think the wrapping should be avoided.
[code]

[2015-07-01 03:27] theSage21 commented on #85
@strang3quark List wrapping is specifically suspended by [this](https://github.com/Alir3z4/html2text/blob/master/html2text/utils.py#L193) code. @Alir3z4 Should we change? Changing this will break a lot of people's code.

[2015-07-01 03:34] Alir3z4 commented on #85
@theSage21 Thanks for doing a good inspection.
wrapping should not be done on lists. Please don't change the code and it let it behave as before.

[2015-07-01 03:44] theSage21 commented on #85
@strang3quark as a fix for your problem you can comment out the said lines. `skipwrap` function in utils.py controls what to skip. Commenting out parts of the code should help you out.

[2015-07-01 10:53] strang3quark commented on #85
@theSage21 Ok, thanks.

[2015-07-04 09:01] theSage21 commented on #38
@stefanor does this fix help?

[2015-07-04 17:41] stefanor opened #87 "Allow selecting decode errors bahaviour"
Forwarded from https://bugs.launchpad.net/ubuntu/+source/python-html2text/+bug/1318227

Currently it stops conversion on any decode error:

[code]

But for the files I'm working on it would be perfectly fine just to add

[code]
It can be exposed as an option.

[2015-07-04 17:49] stefanor commented on #38
Yeah, combined with `--reference-links` that seems to do the right thing.

[2015-07-04 23:31] Alir3z4 commented on #87
[code]

This is possible duplicate of #83 and some others I guess, but the main issue is that this one is not using the latest version.

@stefanor Could you please confirm the latest version throws the same error ?

[2015-07-05 01:56] theSage21 commented on #87
@stefanor That would be a good idea. Am I right in saying that this should be a non boolean value? something like `decode_errors = ignore`?

[2015-07-05 11:06] int-ua commented on #87
@Alir3z4 I'm afraid it's not fixed, just check the code here:
https://github.com/Alir3z4/html2text/blob/master/html2text/cli.py#L204

No option to ignore errors. Have you seen one anywhere?

[2015-07-06 01:37] theSage21 commented on #38
@stefanor @Alir3z4  Consider closed?

[2015-07-06 04:15] Alir3z4 commented on #38
I'm going to close this then, thanks for your awesome collaboration on this ;)

[2015-07-06 04:15] #38 closed

[2015-07-06 16:54] theSage21 commented on #87
@stefanor @int-ua I am working on this. Should the default be 'ignore' or 'strict'?

[2015-07-06 17:06] int-ua commented on #87
Looks like backward compatibility need 'strict'. Also, losing some characters should be acknowledged IMO.

[2015-07-06 17:25] theSage21 commented on #87
@int-ua @stefanor Does this fix it?

[2015-07-06 17:41] int-ua commented on #87
Yes, thanks. Also, looks like it would be nice catching this UnicodeDecodeError and recommending to use the new option.

[2015-07-07 01:44] theSage21 commented on #87
@int-ua Something like `Warning: this is set for deprication. use --decode-errors=ignore`?

[2015-07-07 03:32] theSage21 commented on #87
@int-ua It is done. @Alir3z4 Consider the issue closed?

[2015-07-14 03:19] theSage21 commented on #26
@Alir3z4 Close this issue? Or are you keeping this open for future references? In that case how about adding a `solved` label or something like that?

[2015-07-14 03:20] theSage21 commented on #85
@Alir3z4 Close the issue? Is there something I missed?

[2015-08-10 05:39] theSage21 commented on #87
@Alir3z4 you merged #88 . This issue is closed.

[2015-08-10 06:21] Alir3z4 commented on #87
@theSage21 Thanks for the heads up.
The issue is closed now.

[2015-08-10 06:21] #87 closed

[2015-08-17 20:28] warsaw opened #89 "Python 3.5 compatibility"
While the full test suite seems to succeed under Python 3.4, 12 tests fail under Python 3.5.  I haven't yet figured out what the difference is:

[code]

[2015-08-18 22:20] philfreo opened #90 "Very slow if input has long sections without spaces"
When running `html2text` on some HTML with a base64-encoded image in an `<img>` tag I notice really poor performance of html2text.

I narrowed it down to seeing the problem when a long string appears without spaces (e.g. what you see with a base64 image):

[code]

You'll notice that a string twice as long (but with spaces) runs 200x faster:

[code]

Thoughts?

[2015-08-19 07:40] theSage21 commented on #90
It seems that there is a bottle neck in joining strings during wrapping. Performing line_profiler test we get  [result1](https://gist.github.com/theSage21/11904a3b76dba0466214).

Test script was
[code]
The slowdown might be caused due to using `+=` instead of an available function like `join`.

[2015-08-19 08:37] theSage21 commented on #90
@philfreo On tinkering with this and looking on the Internet, I found this.

<http://stackoverflow.com/questions/11781261/why-are-textwrap-wrap-and-textwrap-fill-so-slow>
The problem arises from `from textwrap import wrap`.
Textwrap performs terribly on unbreakable strings.
@Alir3z4 inputs?

[2015-08-21 18:24] sirdodger opened #91 "Two extra spaces added before line breaks"
Whitespace in HTML should be ignored, but the parser seems to add extra spaces before a newline when translating a &lt;br&gt;.

[code]

In addition to the two spaces added, it preserves one extra space, if present.  (Though that seems sane to me, to treat any length of whitespace in html as a single space in text.)

[code]

It is a low impact problem in practice, but it makes automated testing a b

[2015-08-30 16:23] theSage21 commented on #90
@philfreo @Alir3z4 what should be the behavior for unbroken strings? Do we simply chop them up into 'n' length pieces or keep them intact? Current code would expect them to be unbroken as wrap does not break them.

[2015-09-29 10:23] jonathan-s opened #92 "Redundant \n causes link breakage"
This snippet ->

generates the following code for me ->

You can see the "\n" at some places, including some that would break the link entirely. There is no reason that there would be an extra space at the very end of `"Server Density Monitoring Graphs"` that also breaks the link.

Apparently it doesn't break the links for the parser of github, but other markdown parsers aren't able to handle it g

[2015-09-29 16:07] theSage21 commented on #92
Um.. I do not understand. Providing text as input causes you to receive text with extra line breaks as output?
Could you provide the raw html that is causing this problem?

[2015-09-29 19:49] jonathan-s commented on #92
This would be the raw html.
[code]
Is it possible to disable wrapping? To me it seems like wrapping is often not that desirable. Rather you'd want the editor or what have you do the wrapping for you, instead of hardcoding the wrapping.

[2015-09-30 02:40] theSage21 commented on #92
- You can switch off wrapping as shown in the [docs](https://github.com/Alir3z4/html2text/blob/master/docs/usage.md) by setting `BODY_WIDTH` to `0`.
- The default behavior is wrapping, you will have to take it up with @Alir3z4
- Using the provided html and the same script I get
[code]
- When I switch off wrapping by calling `html2text.html2text(html, bodywidth=0)` I get
[code]
Does that help?

[2015-10-04 14:07] Alir3z4 commented on #92
I have labeled this issue as `invalid`.
@theSage21 Thanks for taking care of it.

[2015-10-04 14:07] #92 closed

[2015-10-08 09:40] #85 closed

[2015-10-08 09:49] ploustaunau opened #94 "UnicodeDecode Error"
I am trying to use html2text to clean up html tags on news reports scraped from Google RSS feed. I run into some UnicodeDecode errors.
Specifically, I run html2text directly on the command line
html2text --ignore-links --ignore-images 52778881361118.htm > test.txt
I could not enclose the file as the issue tracker won't take such files.
It gives me the following error:
Traceback (most recent call l

[2015-10-08 10:07] theSage21 commented on #94
I will take a look as soon as i can get my hands on a computer.
On Oct 8, 2015 3:19 PM, "ploustaunau" <notifications@github.com> wrote:

[2015-10-08 10:08] ploustaunau commented on #94
Thank you Arjoonn,
BTW, the file that is giving me trouble, in case it helps, is enclosed. The system would not letting me append it.
Philippe

[2015-10-08 11:04] Alir3z4 commented on #94
@ploustaunau you can paste the html file on dpaste or gist for this purpose.

On Thu, Oct 8, 2015 at 1:38 PM, ploustaunau <notifications@github.com>
wrote:

[2015-10-08 11:06] ploustaunau commented on #94
Here is the file, copied and pasted from the htm file:

HTTP/1.1 200 OK Content-Type: text/html; charset=UTF-8 Transfer-Encoding: chunked X-Type: default X-Cache-Group: normal Date: Fri, 19 Jun 2015 14:56:20 GMT X-Cache: MISS Link: ; rel=shortlink Keep-Alive: timeout=20 X-Pingback: http://www.smarteranalyst.com/xmlrpc.php X-Pass-Why: Cache-Control: max-age=600, must-revalidate X-Cacheable: SHORT C

[2015-10-09 02:09] theSage21 commented on #94
@ploustaunau go to <https://dpaste.de/> and put the html there.
Then paste the link of the page here. A sample might be <https://dpaste.de/eRsF>

The html you provided has been cleaned by Github and so is processed without any errors.

[2015-10-09 03:05] ploustaunau commented on #94
See https://dpaste.de/BE9F <https://dpaste.de/BE9F>

[2015-10-09 03:19] theSage21 commented on #94
The provided html is converting without errors. This is what I did:

[code]

The commands tell me `Python 2.7.6` and `html2text 2014.9.25` are available now
With the environment setup, the next part was this:

[code]

Please confirm that these steps are running fine on your machine.
*Note* : You should consider updating the package. The current version is 2015.6.21

[2015-10-12 23:35] ploustaunau commented on #94
It is not working for me.
I updated to 2015.6.21, and it is still not working for me.
Enclosed is the file I am trying to run through html2text, can you just try it directly to see if you get an error like I do.
Thanks,
Philippe

Philippe Loustaunau, Ph.D.
Vista Consulting LLC
3835 9th Street N. PH1W
Arlington, VA 22203

Tel: (571) 236-1427
Fax: (571) 490-8468
Email: philippe@conseil-vista.com
www

[2015-10-13 05:43] theSage21 commented on #94
@ploustaunau I am unable to recreate the error. @Alir3z4 any success? In the mean time you might find use in the `--decode-errors=HANDLER` command line argument as shown [in the docs](https://github.com/Alir3z4/html2text/blob/master/docs/usage.md).

[2015-10-15 02:29] ploustaunau commented on #94
I had to install the July version of the config file, with the decode_errors option, I set it to ignore, and all went well.
Thank you,
Philippe

Philippe Loustaunau, Ph.D.
Vista Consulting LLC
3835 9th Street N. PH1W
Arlington, VA 22203

Tel: (571) 236-1427
Fax: (571) 490-8468
Email: philippe@conseil-vista.com
www.conseil-vista.com

[2015-10-15 02:36] theSage21 commented on #94
@ploustaunau should we consider the issue closed?

[2015-10-15 02:37] ploustaunau commented on #94
Yes, thanks,
Philippe

Philippe Loustaunau, Ph.D.
Vista Consulting LLC
3835 9th Street N. PH1W
Arlington, VA 22203

Tel: (571) 236-1427
Fax: (571) 490-8468
Email: philippe@conseil-vista.com
www.conseil-vista.com

[2015-10-15 10:26] Alir3z4 commented on #94
@theSage21 Thanks for the contribution on this issue.

[2015-10-15 10:26] #94 closed

[2015-10-17 15:00] Alir3z4 commented on #91
I'm not really sure the design decision behind having that extra space.
@theSage21 any idea?

@sirdodger If no specific reason is behind this, a flag is welcome to switch this thing off explicitly

[2015-10-17 19:28] theSage21 commented on #91
After some digging I found that this particular line of code was written at <https://github.com/aaronsw/html2text/commit/7a327b84a6bb20ac5055b1c0c1219d92fde316ce>. Since he has passed away, and this was an initial commit, I cannot comment on the purpose of this code.

We can safely do away with this though it is notewhile to remember that some tests fail on changing this behaviour. In my opinion w

[2015-10-18 10:16] Alir3z4 commented on #91
From my point of view I can't figure out the reason for this behavior.
If others also can't find a reasonable design decision behind this then my vote would go for having a flag to switch it off and remove the extra spaces from the output, which means no one's tests will fail since the default will be having the two extra spaces and the flag would be to switch this behavior.

[2015-10-18 14:43] theSage21 commented on #91
@Alir3z4 @sirdodger If I remember correctly, two spaces at the end of a line specify a new line in Markdown. This is in github too I think.

[code]

This is line 1.
This is line 2.
There are two spaces at the end of this line.
This is line 4.

Maybe we should let this be? It is a feature of Markdown after all.

[2015-10-18 18:00] Alir3z4 commented on #91
Yes `<br>` is 2 spaces in markdown.
That's correct, what I was thinking.

The issue is closed and marked as invalid.

[2015-10-18 18:00] #91 closed

[2015-10-20 23:13] sirdodger commented on #91
Thanks for the clarification!

[2015-10-27 08:35] CosmaVito opened #96 "Parse Code with html2text"
I want to parse this post from Quora or a generic post with code.
For example this: http://qr.ae/Rkplrt

Through a practice of Selenium ( a library of Python ), i can get the hmtl inside of the post. In this way:

     h = html2text.HTML2Text()
     content = ans.find_element_by_class_name('inline_editor_value')
     html_string = content.get_attribute('innerHTML')
     text = h.handle(html_string

[2015-10-27 08:43] theSage21 commented on #96
I will get to this as soon as i have Internet and a computer.
On Oct 27, 2015 2:05 PM, "CosmaVito" <notifications@github.com> wrote:

[2015-10-27 16:04] theSage21 commented on #96
the `--bypass-tables` option might work for you. Though I cannot say for sure. Code is supposed to be put in `<code> ... </code>` tags, which is not the case here. Check if this works.

[code]

[2015-10-27 16:15] CosmaVito commented on #96
I had already tried that setting, but without success. In fact they remain the " / n" and are new tags.
I see this:
https://imageshack.com/i/hlhj1ZCtp

[2015-10-29 17:43] theSage21 commented on #96
Ok. After some tinkering, I present my view.

Using the html table provided at <http://www.w3schools.com/html/html_tables.asp> I obtained the following MD from html2text.

[code]
Which tis rendered by Github as

Number | First Name | Last Name | Points
---|---|---|---
1 | Eve | Jackson | 94
2 | John | Doe | 80
3 | Adam | Johnson | 67
4 | Jill | Smith | 50

Now, the html provided by Quora for code

[2015-11-02 14:16] askovpen opened #97 "how to disable escape '-'?"
[code]

why result?

[code]

how to disable escape '-'?

[2015-11-02 15:16] theSage21 commented on #97
I do not suppose there is a way since a `- <something>` in markdown indicates an unordered list.
You can use a `-<something>` to avoid the escaping. Note the absence of a space in between the minus and `<something>`.

@Alir3z4 am I mistaken?

[2015-11-02 15:24] Alir3z4 commented on #97
@theSage21 The issue that @askovpen is addressing is a follow up on https://github.com/aaronsw/html2text/issues/101 which I refer him to this repo.

Anyway, I didn't know there's no way to turn off the escaping. @theSage21 are you sure ?

[2015-11-02 17:25] theSage21 commented on #97
For the reasons you mentioned in aaronsw#101 escaping this is not possible. There might be use cases requiring that the text be left as is. Turning off markdown mode I mean? @askovpen what is your use case? If there are plenty of use cases that require markdown to be removed, it might make sense to have a `--no-markdown` option.

Otherwise it might be nice to point people to another repo which con

[2015-11-02 18:33] askovpen commented on #97
@theSage21  i  parse with feedparser livejournal rss, parse posts body with html2text and post it to facebook.

[2015-11-02 18:42] askovpen commented on #97
@theSage21 e.g: http://ru-auto.livejournal.com/39911818.html -> https://www.facebook.com/ru.auto.lj/posts/1064178320288493

[2015-11-03 02:38] theSage21 commented on #97
@askovpen This might help.

[code]

@Alir3z4 if another issue comes up with a similar usecase, it might be worthwhile to put this feature in.

[2015-11-03 08:36] Alir3z4 commented on #97
@theSage21 Agree on that.

[2015-11-04 14:57] Alir3z4 opened #98 "Python 3.5 support"
The first attempt on running the test on python 3.5 version has failed.
https://travis-ci.org/Alir3z4/html2text/jobs/89231913

No hurries for Python 3.5 version for now, but the failures are cool and weird.
[code]

[2015-11-07 08:47] theSage21 commented on #98
@Alir3z4 These failing tests can be broken down into:

1. spaces and "\xa0" are interchanged.
    - nbsp_unicode_md has "\xa0"
2. invalid_unicode_md allows invalid md to go through
3. html_entities_out_of_text does not convert állás to allas
4. html-escaping does not work for <, > and &
5. Googledoc_saved, google_doc_mass_download
    - Extra space after ** in googledoc_saved
    - extra spaces af

[2015-12-03 11:44] theSage21 commented on #97
@askovpen @Alir3z4 Sould we consider this closed or do you want to keep it open for a vote purpose?

[2015-12-03 11:46] theSage21 commented on #98
@Alir3z4 Just noticed that this is a duplicate of <https://github.com/Alir3z4/html2text/issues/89>. It is funny that this is https://github.com/Alir3z4/html2text/issues/98 and that is https://github.com/Alir3z4/html2text/issues/89. Can you close this one please? I will continue working on that since that was reported earlier.

[2015-12-03 11:58] Alir3z4 commented on #98
@theSage21 Good catch, it's interesting.
It's a conspiracy theory, Illuminati alert :D

The issue is closed and marked as duplicate of #89

[2015-12-03 11:58] #98 closed

[2015-12-03 12:00] Alir3z4 commented on #97
I say let's keep it open for future request and votes, if more people ask for this then we'll consider.

[2015-12-23 14:46] avinassh opened #102 "Why it is adding extra new lines for no reason?"
[code]

I am using python3 and latest html2text

[2015-12-23 15:25] theSage21 commented on #102
@avinassh the default behaviour is to wrap text which is too long. The following can be done to avoid this.
[code]

[2015-12-23 16:11] avinassh commented on #102
Thank you very much :D

[2015-12-23 16:11] #102 closed

[2015-12-27 06:48] theSage21 commented on #90
Since the slow code resides in another library and the cause is computational cost, there is no getting around it. You could introduce a behaviour which simply performs chopping in the case of no spaces instead of word aware wrapping.

[2015-12-27 06:48] #90 closed

[2015-12-30 19:25] faissaloo opened #103 "There seems to be no support for <s> tags"
[code]

Not much else to say really

[2015-12-30 19:47] theSage21 commented on #103
@Alir3z4 @laurentb any reason we should keep the tags instead of rendering to '~~'? I say we go with the double tilde as it si neater.

[2015-12-30 21:15] Alir3z4 commented on #103
Well html2text is:

Not sure about previous markdown implementation regarding to support "\<s>" and "\~~", but now it's well supported across almost all markdown parsers out there, including Python Markdown.

My vote goes for supporting `~~` and dropping `<s>`

[2015-12-31 06:23] theSage21 commented on #103
@Alir3z4 please merge when you can.

[2016-01-01 12:10] #103 closed

[2016-01-01 12:10] Alir3z4 commented on #103
@theSage21 Thanks for the pull-request, I've merged into master already.
@faissaloo Thank you for reporting and bringing up this issue.

[2016-01-01 19:25] gdamjan opened #105 "convert <del> <strike> tags to ~~"
convert `<del>` `<strike>` tags to `~~text~~`

[2016-01-01 19:30] Alir3z4 commented on #105
Duplicate of # 103
Has been fixed by #104

[2016-01-01 19:30] #105 closed

[2016-01-12 12:41] avar opened #106 "The html2text command doesn't allow passing the encoding as a command-line param"
There's no command-line option to pass the encoding, so this works:

     html2markdown test.html latin-1

But this doesn't:

    html2markdown - latin-1 <test.html

Some interfaces that want to call this command can only pass options and spew input on stdin.

[2016-01-12 12:44] avar opened #107 "The html2markdown command doesn't grab it from the document, just the headers"
See also the related issue #106.

The command will only use the feedparser if the fetched html is retrieved over HTTP(S), but doesn't pick up documents that have a `<meta http-equiv` header.

[2016-01-12 15:41] theSage21 commented on #106
Maybe you are looking for [html2markdown](https://github.com/29decibel/html2markdown) which is a Ruby project rather than this which is a Python project? The command line for this library is `html2text`.
Could you confirm this?

[2016-01-12 15:45] avar commented on #106
@theSage21 No I actually mean this project, sorry about the confusion. I mentioned it as html2markdown because I'm using it via Debian which already had a html2text utility, so they rebranded it. But I've looked and the code I was having issues with is the same.

[2016-01-14 01:04] stefanor opened #109 "unexpanded &lt; &gt; &amp;"
From: https://bugs.debian.org/791470

Version: 2015.6.21-1 (and current master):

[code]

It worked correctly in 2014.9.25-1:

[code]

[2016-01-14 01:12] stefanor commented on #109
Bisect blames 446a8eb0733835fa2b2e61b8e311a02f9325cf00 (that is #57)

[2016-01-14 13:00] jwilk commented on #109
Relevant part of Markdown documentation: https://daringfireball.net/projects/markdown/syntax#autoescape
While leaving the entities unexpanded is technically OK, it makes the output unnecessarily illegible for human readers.

[2016-01-14 14:30] #89 closed

[2016-01-25 15:02] snarfed opened #112 "ignore text inside <video> tags"
first of all, thanks for maintaining html2text, it's great!

one feature request: an option to drop text inside `<video>` tags would be nice. according to HTML5, if a user agent supports the video tag, then it must ignore the content inside, since that's only for browsers / UAs that don't support the video tag. background in snarfed/bridgy#612.

thanks in advance!

[2016-01-30 17:44] Alir3z4 commented on #112
Thank you for your kind feedback, indeed html2text is great.

As for the feature request,you mean dropping a text like the video URL or video name instead of <video> ?

What html2text is trying to do, simply convert the HTML into a clean text that can be considered as `Markdown` as well, and thing is how we gonna transfer the text back into HTML again with markdown implementations? does any markdo

[2016-01-30 18:59] theSage21 commented on #112
@snarfed  dropping the text might be justified in lost of use cases but I am against adding another option for this. Mainly because of the existance of `out` which can pretty much handle this job. I would suggest that you have a look at the `out` argument of the `HTML2Text` constructor.

[2016-01-30 18:59] #112 closed

[2016-01-31 18:14] aykevl opened #114 "<br> does not continue quote"
Example:

[code]

The newlines are not preserved in the output. I would expect:

[code]

Just like in this HTML:

<div>
a<blockquote>b<br>c</blockquote>
</div>

[2016-02-01 03:07] g8gg opened #115 "handle <br> wrong in <table>"
example:

[code]

[2016-02-02 09:56] Sorrow2 commented on #97
vote for this feature.
i use html2text to post to telegram. And i have plenty of cases when line starts with '-'.
Should i just use .replace('\\','') for now?

[2016-02-02 10:46] theSage21 commented on #97
@Sorrow2 If you could do a PR that would be great since it might take me some time to get to this.

[2016-02-09 09:06] guettli opened #116 "PyPi Site looks strange"
Hi,
the README file gets rendered strange on pypi:

  https://pypi.python.org/pypi/html2text

I guess pypi does allow only a special markup language. AFAIK markdown is not supported.

[2016-02-09 12:00] Alir3z4 commented on #116
@guettli That's is right.
Markdown seems to be not supported on PyPi
some syntax are available.

I just left the readme in md since the the project is related to md, but I'm open to rewrite the readme in the RST for the same of PyPi.

[2016-02-11 14:29] Alir3z4 commented on #32
Closing this as `wontfix` with `need-more-details`
Can be re-opened for more discussion in future.

[2016-02-11 14:29] #32 closed

[2016-02-11 14:32] Alir3z4 commented on #58
Not a `bug` and based on https://github.com/Alir3z4/html2text/issues/58#issuecomment-113105206 I'll close this.

[2016-02-11 14:32] #58 closed

[2016-02-11 14:49] #96 closed

[2016-02-11 14:53] Alir3z4 commented on #115
@g8gg Could you please provide a test case or a better explanation, so we can reproduce and run it ?

[2016-02-11 15:35] Alir3z4 opened #117 "Remove reading from URL feature"
Wouldn't be better to remove the loading remote files/urls feature?

Following [Single responsibility principle](https://en.wikipedia.org/wiki/Single_responsibility_principle) wouldn't harm and is much better.

Issues reported like these:
- https://github.com/aaronsw/html2text/issues/46
- https://github.com/aaronsw/html2text/issues/61
- https://github.com/aaronsw/html2text/pull/84
- https://github

[2016-02-24 06:09] dairiki opened #119 "Text after list handled incorrectly"
- Version 2016.1.8

When fed this input:
[code]
this markdown is produced
[code]
which renders as

  * item
text

The markdown should have, I think, a blank line after the list, e.g.
[code]

[2016-02-24 11:35] #26 closed

[2016-02-24 13:46] theSage21 commented on #119
Glad to see that the templates are working. :smile:
I don't know about this. I suppose it depends on the renderer how the MD is rendered but then in all the popular places where MD is used practices do coincide with what you say. I could think of no case where this would be bad other than changing known behaviour.

@Alir3z4 if you agree I'll implement as soon as I am free.

[2016-02-24 15:31] Alir3z4 commented on #119
@theSage21 yeah, I found out the moment I looked at the issue description.

I checked what @dairiki has described here and the expected behavior should be implemented. Without that blank line after list, the text would be considered as a member or included in the list as well, which it should not be like this.

My vote for implementing/fix such feature/bug.
@theSage21 Would be great to see your pa

[2016-02-25 04:00] theSage21 commented on #119
@Alir3z4 This is causing 4 tests to fail. Should I rewrite them?

[2016-02-25 05:48] theSage21 commented on #119
@dairiki This will be difficult to implement for Google Docs styles. Will that be ok?

[2016-02-25 07:23] theSage21 commented on #119
@Alir3z4 check it out and pull when you can.

[2016-02-25 07:37] theSage21 commented on #109
@jwilk any reasons I should avoid closing this issue?

[2016-02-25 07:42] theSage21 commented on #116
Fore reference I am leaving this here.
(http://stackoverflow.com/questions/26737222/pypi-description-markdown-doesnt-work#answer-26737672)

I've  implemented this in #120

[2016-02-25 07:43] #116 closed

[2016-02-25 07:54] theSage21 commented on #115
#id | Type | Description | Java type | Minimum  Maximum | Auto-conversion from/to
---|---|---|---|---|---
0 | Boolean | Handles only the values _True_ or _False_ | `java.lang.Boolean` or `boolean` | 0  1 | String

I suppose you would expect the Minimum Maximum to be one on top of another?
@g8gg I am unable to create that effect with any markdown, so in my opinion the `<br>` should be escaped/ignor

[2016-02-25 11:26] Alir3z4 commented on #116
@theSage21 Thank for taking care of this.

[2016-02-25 11:38] Alir3z4 commented on #119
@theSage21 Great work on the patch.
I left some comments for on the pull-request ;)

[2016-02-25 21:51] dairiki commented on #119
@theSage21 Thank you!

It doesn't bother me personally (at the moment, at least) that this is still broken for google docs.

[2016-02-26 09:30] #119 closed

[2016-02-27 20:33] theSage21 commented on #106
@avar I think I've fixed this but I am having a hard time testing it. Could you provide an example html and encoding?

[2016-02-27 20:37] theSage21 commented on #107
@avar could you give me an example link?

[2016-02-27 20:39] theSage21 commented on #117
I think a lot of people including me depend on this part of the library. I don't know.

[2016-02-27 20:39] theSage21 commented on #15
What is meant by i18n?

[2016-02-28 08:51] svetlemodry commented on #15
Usualy it's the abreviation for [internationalization](http://www.i18nguy.com/origini18n.html).

[2016-02-28 09:01] theSage21 commented on #15
Ok. What would it mean in this context?

[2016-02-28 10:40] Alir3z4 commented on #117
The idea is to keep html2text stay focused on what it does and do only what it has been designed to do which converting html to text(markdown) and that's all.

I some patches or ideas regarding making that url reader better or enhanced.

Let's keep this issue open for future refs for now and we'll decide later on it, probably with more stuff about it.

[2016-02-28 11:02] Alir3z4 commented on #15
@theSage21 @svetlemodry Just updated the issue description about it.
Thanks for your consideration and I'm sorry for not writing any description earlier.

[2016-03-06 18:21] matiskay opened #121 "EOF in middle of entity or char ref"
Hi, I got an `EOF in middle of entity or char ref` error. I remove `&` and it fixed the problem. Is there a way to fix this problem without removing `&`?

- Version: 2015.6.21
- Test script
[code]

[code]

[2016-03-06 18:51] theSage21 commented on #121
This issue is only arising on Py2.x when I test it with the version you have provided.
This is a known bug in the Python `HTMLParser.py`. Read about it [here](https://bugs.python.org/issue445196). I would suggest cleaning the HTML (removing the &) or switching Python versions if possible.
I would favour switching Python versions.

Since this is not a direct `html2text` bug I'm in favour of closing

[2016-03-06 18:54] matiskay commented on #121
I agree.

[2016-03-06 18:54] #121 closed

[2016-03-06 18:59] Alir3z4 commented on #121
Sad to see something like:
[code]
is causing issues, the best would be I guess handle the issue outside of the html2text scope and do the exception handling that way.

However, if you're doing lots of `html2text.handle` at the time, like batch processing, that exception handling would cause you bleeding in your performance, since python try;except are slow.

If you're going to stay on that specifi

[2016-03-06 19:02] theSage21 commented on #121
@Alir3z4 This is not a `html2text` issue.

[2016-03-06 19:04] matiskay commented on #121
@theSage21 and @Alir3z4, thank you for your help. I'm cleaning the text before using `html2text`. Anyways, I suggest to add `Python version:` to the issue template.

[2016-03-06 19:08] Alir3z4 commented on #121
@theSage21 yeah.
I've removed the `bug` label.

@matiskay Thanks for the suggestion.

[2016-03-06 20:58] Alir3z4 opened #122 "Add a CLI method to help issue reporting"
This is our current ISSUE_TEMPLATE:
[code]

With adding a simple method that can be reached via CLI we can speed up the procedure and collecting information a lot.

Preferable:
[code]
output:
[code]

We can add more stuff there as well or even change the endpoint as well, instead of `--full-version` it can be `--pony`

Lemme know what you think.

suggestion are welcome <3

[2016-03-07 04:48] theSage21 commented on #122
I think that would bloat the codebase. Getting the versions is not such a difficult task since we have already provided the commands.

[2016-03-16 14:17] andya9 opened #123 "Option to prevent hard-wrap"
Currently the script will hard-wrap paragraphs. Using html2text -h I don’t see any option to prevent this, that is, to leave long paragraphs in one single line.  Would it be possible to implement it?

- Version 2016.1.8
- Python version 3.5

[2016-03-16 14:21] andya9 commented on #123
Sorry, I found the option by looking through the code

[2016-03-16 14:21] #123 closed

[2016-03-30 06:01] theSage21 commented on #117
On further thought, this seems pretty good. We could try to remove it be 2017.x.x and start issuing warnings for now in the codebase.

[2016-03-30 13:57] Alir3z4 commented on #117
@theSage21 Great.
Feel free to set the deprecating warning for --url in the code base now.

[2016-05-06 16:19] Changaco opened #125 "Table cells are not padded"
It'd be nice if tables were rendered in a human-friendly way.

- Version by `html2text --version`: 2016.4.2
- Test script:

[code]

Output:

[code]

Desired output:

[code]

- Python version `python --version`: 2.7.11

[2016-05-06 16:58] theSage21 commented on #125
I'm all for it. I'll get on this after exams.

[2016-05-24 16:16] amitu opened #127 "html2text inserts newline in URLs"
- Version: 2016.4.2
- Python 2.7.11

[code]

Been fixing in my code:

[code]

[2016-05-24 16:47] theSage21 commented on #127
The body width is enforced post conversion so I don't see a way to exclusively make links unbroken without some hacky changes. @Alir3z4 do you? @amitu Meanwhile if you want you could try to do something like:

    u'![](http://www.foooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.com)\n'

In case your links are all in a similar format.

[2016-05-24 19:06] #122 closed

[2016-05-24 19:09] Alir3z4 commented on #127
In my opinion this is not a bug, it has been opened bunch of other times before as well.
`bodywidth=0` is the way to go without making any changes in the code.

@theSage21 Do you think it would be a good idea to remove this behavior ?

[2016-05-25 02:45] theSage21 commented on #127
I don't know. If someone +1s this then sure.

[2016-05-25 04:13] amitu commented on #127
But I like neatly wrapped paragraphs. Markdown text is for human consumption.

[2016-05-25 04:57] amitu commented on #127
I believe even `break_on_hyphens=False` should be used but it breaks existing test. That test in my opinion is asserting a bug and should be removed (along with config.PROTECT_LINKS and config.WRAP_LINKS "features" in favour of this).

Breaking links == BUG and should not be allowed under any circumstance.

[2016-05-25 05:08] amitu commented on #127
There may be situations where you would care more about presentation than correctness, e.g. if you are printing the markdown to a book/pdf.

I still feel default behaviour should be to not break links, but **if backward compatibility is a concern** for merging my pull request we can add `break_on_hyphens=True` and `break_long_words=True` keyword arguments/config parameters.

[2016-05-25 06:40] theSage21 commented on #127
Sounds resonable. I'll do this once my exams are done. Sigh, so many issues are await me once I've completed my exams. :smile: Also, @amitu #128 is welcome. I did not know about that.

[2016-05-25 08:04] amitu commented on #127
You are welcome. In the meanwhile this is what I am using:

[code]

It may be we do not need #128 :-p.

[2016-05-27 08:25] theSage21 commented on #106
I'm closing this since the PR has been merged.

[2016-05-27 08:25] #106 closed

[2016-05-27 08:53] theSage21 opened #129 "Refactor the codebase"
- Version by `2016.1.8`
- Python version `3.5.1`

The current code base stands at 1514 lines of code. I also have trouble wrapping my head around some of the parts of the code.

I propose a refactor. @Alir3z4 Should we do this?

[2016-05-27 13:07] theSage21 commented on #107
@avar I'm not sure I understand this completely. Could you please elaborate or point me to resources which might help?

[2016-05-27 13:09] avar commented on #107
I filed these related to [this mu bug I filed](https://github.com/djcb/mu/issues/763) which has an example file. I.e. a HTML file with an encoding="..." in the HTML itself.

[2016-05-27 13:15] theSage21 commented on #107
Ah, so when the encoding is present in the file itself it is not grabbed? Am I getting this right?

[2016-05-27 13:18] avar commented on #107
Yes.

On Fri, May 27, 2016 at 3:15 PM, arjoonn sharma <notifications@github.com>
wrote:

[2016-05-27 15:25] theSage21 commented on #114
<https://github.com/Alir3z4/html2text/commit/8ccd470751d8b1d221021163230bd20cdcb043ba> solves this.

[2016-05-27 15:25] #114 closed

[2016-05-27 15:47] theSage21 commented on #107
I'm in over my head. @Alir3z4 can you take this one?

[2016-05-27 18:36] theSage21 commented on #125
Now, getting this to work with the parser is turning out to be a pain. I propose we just pad tables after everything is done. It might impact speed since we will be iterating over the text once again.
 @Alir3z4 @Changaco any other caveats that you can see to this approach? If nothing comes up I'm implementing this as an option to avoid breaking backward compatibility for now.

[2016-05-28 05:58] amitu commented on #127
Hey @theSage21, thanks for merging the pull request.

What do we do about `break_on_hyphens=True`? If a URL has hyphens in it, it will still break.

I have not added break_on_hyphens in my pull request as that was breaking an existing test (protect_links.md). That test in my opinion is wrong, it is asserting a behaviour that is a bug.

Should I remove the test and send another pull request?

[2016-05-28 07:26] theSage21 commented on #127
Could you explain this buggy behaviour? Changing that might break backward compatibility for some people and so we need to be sure that it's the right change.

[2016-05-28 08:08] amitu commented on #127
The same as this issue:

protect_links.html

[code]

protect_links.md
[code]

As you can see it is doing the *opposite* of protecting.

If we replace - with anything else, e.g. _, then it will not insert the line break. This behaviour that sometimes the links will 404, is a bug.

In order to handle backward compatibility we can make this an optional keyword argument.

What should be the default va

[2016-05-28 08:32] theSage21 commented on #127
I'd say we change the tests and put it in the Changelog.   @Alir3z4 ?

[2016-05-28 09:04] theSage21 commented on #125
@Alir3z4 @Changaco I've added padding as an option to maintain back-compatible behavior.

[2016-05-28 10:24] Alir3z4 commented on #129
I tried to refactor it in the beginning, but didn't get much far to be honest.
All the stuff were in one file `html2text.py` and I was able to take them out and make it what it is now.

Of course still it has room for further chnages.
My idea would be having it into Mixin classes, having common or similar methods of `Html2Text` class into separate and smaller classes (mixin), and then just `Html2T

[2016-05-28 10:37] Alir3z4 commented on #127
This:
protect_links.html

[code]

protect_links.md
[code]

is kind of wrong when it's default, I'm not sure why the default behavior is like this.
I disagree to remove it as well.

Let's change it to be by default and have the this current behavior as an option as well.

So I suggest the steps to change it to be:

* Add a flag to do the same. Both backward compatibility and flexibility solution.
*

[2016-05-28 11:23] theSage21 commented on #129
I saw that attempt when I first came in. I am too inexperienced to identify the problem in the codebase if any, though I do think things can be done better. After all projects like Bottle are all one file projects.

[2016-05-28 11:53] Alir3z4 opened #131 "Code Quality & Linter"
Setting up code quality tools on test runner and CI.
It should follow the Lovely PEP8 completely.

[2016-05-28 11:58] Alir3z4 commented on #129
Bottle and projects like bottle are not meant to be expanded, they never wanted to be more than that, if they wanted to be something bigger their authors would definitely make a better structured text.

Just like project doku, it was done in 200 lines of bash but became weirdly more and have tons of plugins and addons and has a wide structure and clean as well.

The problem with HTML2Text class is

[2016-05-28 12:00] Alir3z4 commented on #131
For instance https://github.com/tomchristie/django-rest-framework has done a good job on this

[2016-05-29 11:49] #125 closed

[2016-05-30 10:15] amitu commented on #127
I will work on a pull request.

[2016-06-03 11:36] theSage21 commented on #129
I'm going to be creating a new branch in my fork and try to refactor there. We will see what comes of it.

[2016-06-11 15:15] tahajahangir commented on #109
@jwilk The relevant part of of markdown-spec is about converting markdown to html, not about converting html to markdown.

If one is writing markdown only for converting it to html (and not presenting directly to humans), it's ok for him to use entities. But for a html2text library it's unacceptable.

We use this library to convert html part of emails to text part. With newer versions of html2text

[2016-06-13 05:06] theSage21 commented on #109
I am going to be on a flaky Internet connection for about a month. I'll try to fix this as soon as possible.

[2016-06-17 20:45] gaulinmp opened #132 "Style tags are case sensitive"
I don't know if the intent  for the `google_doc` flag is only to handle Google docs, but I've found it helpful for parsing other random HTML pages out there.  However once you get outside Google Doc created HTML, things start to get ugly. One problem I've come across is that if the HTML uses anything but lowercase in CSS style elements, then the html2text code doesn't pick it up. The fix is pretty

[2016-06-21 05:10] theSage21 commented on #132
@gaulinmp this is nice! Could you do a PR with tests to keep up coverage?

[2016-06-21 23:19] priyaven opened #133 "html2text does not work on the domain toysrus.com"
html2text does not seem to parse the site toysrus.com accurately.

example link: html2text http://www.toysrus.com/product/index.jsp?productId=45631456&prodFindSrc=prodCrossSell

expected output: text including title, price, specifications, etc.
received output:
trusJspVariables = window.trusJspVariables || {}; if(typeof
deconcept=="undefined") document.write('<script
src="/include/swfobject.js"><\

[2016-06-22 04:08] theSage21 commented on #133
I'm having trouble pinning down the problem. I'll let you know as soon as I can.

[2016-06-22 05:11] #132 closed

[2016-06-22 08:21] theSage21 commented on #133
@priyaven this is being caused by the presence of `script` elements inside of `document.write` JS. I suspect something but it is too soon to say. In the mean while, running a `html.replace('script', 'blah')` before passing it to the `html2text` program seems to get the desired text.
As a command line option this works. `curl -s http://www.toysrus.com/product/index.jsp?productId=45631456\&prodFindS

[2016-06-29 23:10] luckydonald opened #136 "Emtpy link title of <a><img></a> with images_to_alt"
[code]
So the conversion:
[code]
[code]
Seem to come up with an empty tile.
I would like to get an output like
[code]
or be able to ignore such links completely.
Is there a way yet to archive that?

[2016-06-29 23:28] luckydonald commented on #136
My current workaround:
[code]

[2016-06-30 03:59] theSage21 commented on #136
If there is an `alt` field for the image, things work out perfectly. For example:

[code]

I do think we could do with a default `alt` section which says something useful like `image` or something else. Would that work for you?

[2016-06-30 11:00] luckydonald commented on #136
Yeah, probably.
Don't know how you would implement that, but one way would I can think of is to allow strings for the `images_to_alt` setting.
[code]
With that the check
[code]
still is true for non empty strings.
Or would that be too confusing?

<hr>

But I'd also think a `skip_invalid_links` mode could get in handy for such cases:
[code]
Resulting in
[code]
<hr>

On a side node, most of the para

[2016-06-30 11:12] theSage21 commented on #136
Yeah, this code base still confuses me and I'm not able to take out time to refactor. While I get around to it your hack or mine seem fine I guess. The custom `default_image_alt` sounds nice.

[2016-06-30 11:19] theSage21 commented on #136
One possible way is to have a `txt.DEFAULT_IMAGE_ALT_STRING` and set [line number449](https://github.com/Alir3z4/html2text/blob/master/html2text/__init__.py#L449) to `alt = attrs.get('alt') or self.DEFAULT_IMAGE_ALT_STRING`

[2016-06-30 12:02] luckydonald commented on #136
Probably still with the `or ''` part.
[code]

[2016-06-30 12:12] theSage21 commented on #136
Want to do a PR? I'll do it but after a while. I don't have access to my keys.

[2016-06-30 12:24] luckydonald commented on #136
I also just would edit it online in github, lol
But I don't quite know where `self.default_image_alt_string` is needed to be added elsewhere (cli mode, docs, ...)

[2016-07-01 09:21] luckydonald commented on #127
Happening here too.
[code]

[2016-07-01 23:04] gilessbrown commented on #133
This line:
    https://github.com/Alir3z4/html2text/blob/master/html2text/__init__.py#L734
is the culprit.  It finds the '/script>' inside the document.write stuff and we end up with a negative `self.quiet` which means that it ends up with outputting the wrong stuff.
What is the purpose of this line?  It looks like kinda kudge-ey (if I may be so bold).

[2016-07-02 02:13] gilessbrown commented on #133
And I've just tried the tests and none of them fail if you remove those two lines.
And it works on the toysrus.com example.
I think I'll submit a pull request.

[2016-07-02 14:30] amitu commented on #127
Haven't gotten time to work on it. @luckydonald, you can pass `break_on_hyphens=True` and check if it works. [Refer](https://github.com/Alir3z4/html2text/pull/128/files#diff-5e3a9e55d540708ee71bbae0911b45bbR818).

[2016-07-02 19:06] luckydonald commented on #127
I went with
[code]

[2016-07-02 19:09] luckydonald commented on #136
Since the system I am targeting (telegram bot api, [via this package](https://github.com/luckydonald/pytgbot)) currently has a broken markdown parser at the backend, I am forced to switch to html instead, and so won't contribute much the next time.

[2016-07-03 07:26] theSage21 commented on #133
Ah, sorry for the silence @gilessbrown . We were experiencing an internet outage here. The PR looks good.

[2016-07-03 07:26] #133 closed

[2016-07-03 07:30] theSage21 commented on #136
I'm having bad internet issues. I'll do this once I'm on a connection with at least 10Kbps.

[2016-07-11 02:19] #136 closed

[2016-07-11 02:27] theSage21 commented on #109
I find this convincing. https://github.com/aaronsw/html2text/pull/59
How about a `-human` flag like the `du` command? That would make sense.

[2016-07-13 05:31] tahajahangir commented on #109
I suggest it to be `--html-escape` flag, although escaping can be done by user itself after converting html to text.

[2016-08-04 22:19] eatnumber1 opened #139 "Paragraphs in Blockquotes Split Text"
Copying this issue from aaronsw/html2text#17, since it's still a problem.

If you have this construction
[code]
html2text generates this output
[code]
This should not be, since the empty line between the paragraphs breaks the blockquote...

[2016-08-09 09:26] thomasf1 opened #140 "'ascii' codec can't decode byte (...) ordinal not in range(128)"
I´m getting one of those very annoying python 2.x string encoding errors...

[code]
The string I´m delivering to htm2text is in UTF-8 (the script is in UTF-8, too):
[code]

I´m using the latest Version available via pip on the Google App Engine development server (direct use of the Library - not the command line).

- Version (library): __version__ = (2016, 5, 29)
- Python version: 2.7

[2016-08-09 10:51] thomasf1 commented on #140
Sorry, my bad for handling unicode wrongly...

[2016-08-09 10:51] #140 closed

[2016-08-21 01:41] eatnumber1 commented on #139
ping

[2016-08-21 03:13] theSage21 commented on #139
I am soooo sorry! For some reason my Butler did not show this to me. I'll get on this today.

[2016-08-21 16:43] theSage21 commented on #139
So, I had a look. As of now I see no clear way to address this without breaking a lot of tests. It will have to wait until later from my side.

[2016-08-21 16:44] eatnumber1 commented on #139
Thanks for the prompt response and for looking :)

[2016-08-31 12:45] ghost opened #141 "documentation link at pypi"
Hi, here just to let you know that some links are broken at pypi, including documentation. I am not sure if you have permissions to make the necessary changes, but trying my best to help. Thanks for the great work :) https://pypi.python.org/pypi/html2text

[2016-08-31 12:58] theSage21 commented on #141
@Alir3z4 I'm not sure where the badges are supposed to link to so could you please look into that?

[2016-09-03 17:52] Alir3z4 commented on #141
@theSage21 Badges are linked to https://badge.kloud51.com, right ?

[2016-09-03 17:58] theSage21 commented on #141
Oh the badges are fine. What I meant was that some of the badges like `License` could be hyperlinks to actual license text instead of the normal Pypi link. Is that what you meant @imadie ?

[2016-09-04 00:39] Alir3z4 commented on #141
Yeah, linking the badges to their related paths makes more sense

[2016-09-05 01:14] Tratoschek opened #142 "Add an option to strip text inside html tags"
It would be nice, if you could add an option to strip text inside html tags. Sometimes poorly formatted webpages provide such text.
- Version by `pyhtml2text --version`: pyhtml2text 2016.5.29
- Test script

[code]

Much better would be `'**text**\n\n'`
- Python version `python --version`: Python 3.4.3

[2016-09-05 01:20] Tratoschek opened #143 "Page break does not work, when line starts with <b>"
Per default lines are wrapped after 78 chars. This does not work, when starting with <b>.
- Version by `pyhtml2text --version`: pyhtml2text 2016.5.29
- Test script

[code]

Starting with italic tag works fine, btw.
- Python version `python --version`: Python 3.4.3

[2016-09-05 03:05] theSage21 commented on #142
This seems reasonable. I'll get to it in a while if that's ok. In case you want to you could submit a PR for this.

[2016-09-05 03:07] theSage21 commented on #143
I'll look into this in a while. If you do have a PR, fire away.

[2016-09-13 09:20] zacbri opened #144 "New pip release?"
Hi @Alir3z4

are you planning a new release to Pypi sometime soon?
We'd love to remove the dependency on our fork :)

Thanks!

[2016-09-14 20:23] Alir3z4 commented on #144
@zacbri Sure, I'd love to make a release too.

@theSage21 What's the stage of the master branch for a release, do you have anything to do it ? Build has failed since your last commit https://travis-ci.org/Alir3z4/html2text for Python 2.6

[2016-09-15 00:47] theSage21 commented on #144
What! I just changed documentation. Well, I'll look into this. I had not noticed @Alir3z4

[2016-09-15 00:58] theSage21 commented on #144
Hmm. According to [this](https://stackoverflow.com/questions/20315594/unit-tests-crashing-in-python-2-6-im-using-travis-ci) 2.6 does not have the `discover` method. How come the tests have not failed before this then?

[2016-09-15 07:24] Alir3z4 commented on #144
I have no idea why, some other projects of mine act weird as well sometimes. I guess it was `python-stop-words` that all the tests started to fail suddenly.

As for the solution, what about http://stackoverflow.com/a/20315839/636136 ?

[2016-09-15 08:23] theSage21 commented on #144
@Alir3z4 That would be the last resort since the tests were passing in the past. I would only take that road if everything fails.

[2016-09-15 08:29] Alir3z4 commented on #144
Alright lemme know when it's ready so I can start making a release.

[2016-09-15 08:46] theSage21 commented on #144
@Alir3z4  since this one does not change any code, you can release the commit which came before this one (namely https://github.com/Alir3z4/html2text/commit/1beb8c611b5f457eb2cdda4b4d6235b55bb9bbcc). Fixing this might take time since I have exams around the corner.

[2016-09-15 09:19] Alir3z4 commented on #144
Nah, I don't like reverts.
I look into this myself as well.

[2016-09-15 23:09] Alir3z4 commented on #144
I got it fixed in https://github.com/Alir3z4/html2text/commit/6e097d01ef2ae9d691487dde50fe05ab62bf257c issue was pip removing --user-mirrors flag :|

Soon I will cut a new release.

[2016-09-16 02:04] theSage21 commented on #144
All good then. :smile:

[2016-09-18 21:06] AVGrudin opened #146 "'list' object has no attribute 'replace'"
When I send some message from Python 3 to the library, it makes error. Sorry than I cannot show you message, because of NDA.

- html2text 2016.5.29
[code]
- Python 3.5.1 :: Anaconda 2.4.1 (x86_64)
--------------------------------------------------------
[code]

[2016-09-18 22:12] Alir3z4 commented on #144
Here is a new release: https://pypi.python.org/pypi/html2text/2016.9.19

[2016-09-18 22:12] #144 closed

[2016-09-19 14:19] zacbri commented on #144
Thanks :)

[2016-09-22 12:18] #146 closed

[2016-09-24 00:00] toshism opened #147 "Error using --pad-tables option with nested tables"
When using --pad-tables option, if the html contains a nested table, html2text throws an IndexError.

 - Version by `html2text --version`

**html2text 2016.9.19**

- Test script

[code]

- Python version `python --version`

**Python 2.7.12**

[2016-09-24 16:46] theSage21 commented on #147
I shall get on it as soon as I can.

[2016-10-04 15:09] therumbler opened #148 "links with query string parameters come out with semi colons"
e.g.

[code]

Response is [ http://verify.supteam.net/registrant/?verification_id=4676787&amp;key;=d8kdjKX6QJ&amp;rid;=15314 ](http://verify.supteam.net/registrant/?verification_id=4676787&key=d8kdjKX6QJ&rid=15314)

(note the "&amp;rid;=")

[2016-11-04 08:18] theSage21 commented on #147
So, the way I've implemented this right now is as a post processing option. Once the MD is generated, the tables in it are beautified. Right now I have no idea how to do this recursively, so I cannot implement anything to solve this. If something does pop into my mind, I'll put it in there.

[2016-12-16 15:38] theSage21 commented on #147
I've done some digging around. <https://github.com/vmg/redcarpet/issues/394> explains why nested tables are not a good idea in MD. I'll be fixing the index error but won't be adding extra support for nested tables in any way.

[2016-12-16 16:14] toshism commented on #147
That's fair. Thanks for looking in to it. How do you plan on handling nested tables? I would like to use html2text in my mailcap file to convert html emails so I obviously don't have control over the html they'll be processing, but if it could at least handle them gracefully in some way that would be great.

[2016-12-16 16:32] theSage21 commented on #147
Markdown tables end up being ambiguous if simple markdown is used. To avoid that I'm thinking of something along the lines of:

[code]

[2017-02-07 14:46] dmauro opened #150 "Trailing line break in list element should be ignored"
Give the following HTML:

<ul>
    <li>Item 1 <br /></li>
    <li>Item 2</li>
</ul>
the following Markdown will be generated:

* Item 1 \n\n* Item 2
Which will actually be interpreted as two distinct unordered lists instead of one list with two entries. It seems that removing trailing line breaks from list items would make for a better semantic translation.

- Version by 2016.9.19
- Python version

[2017-02-07 14:47] dmauro opened #151 "Line breaks in bold renders incorrect markdown"
Bold generally should not be allowed to have line breaks in between them, or have whitespace on the inside, or they'll be treated as literal asterisks. So for example:

[code]

Results in:
[code]
Which will not render in bold with most markdown interpreters.

Instead we should move trailing line breaks outside of the asterisks:

[code]

and end and re-start bold for if it's not trailing, eg:

[cod

[2017-02-17 13:39] l3d00m commented on #151
Seems to be at least similiar to #142

[2017-02-20 17:30] bjones1 commented on #109
The patch @gabalese made fixes this issue for me -- would you consider applying it?

[2017-02-20 17:36] theSage21 commented on #109
Seems good. @Alir3z4 you agree?

[2017-02-24 22:08] darenr opened #152 "trailing line breaks generates spurious content"
- html2text 2016.9.19
- ```h.handle("<p>test</p>\n\n\n\n")```
```u'\n\ntest\n\n  *[2:07 PM]: 2011-02-11T14:07:00+07:00\n\n'```
- Python 2.7.12

[2017-02-26 22:04] Alir3z4 commented on #147
@theSage21 That's really good, I agree with the approach,

[2017-02-26 22:07] Alir3z4 commented on #109
@theSage21 It makes sense to me too.

[2017-02-27 21:33] john-hewitt opened #153 "TypeError in escape_md"
## Version : 2016.9.19
## Python Version : 2.7.13

A large number of non-English web pages I'm working with break html2text.
Attached is an HTML file that replicates this issue.

`import html2text`
`html2text.html2text(open('breaking.txt', 'r').read().decode('utf-8'))`

[breaking.txt](https://github.com/Alir3z4/html2text/files/805062/breaking.txt)

[2017-03-03 23:37] bjones1 commented on #109
Pinging -- would you like me to submit a pull request containing @gabalese's [fix](https://github.com/rolepoint/html2text/commit/fa4e86fa08eaf8ca6991bc2a2922a62f37506229)? Or would you prefer to apply it yourself?

[2017-03-04 10:15] Alir3z4 commented on #109
@bjones1 Please feel free to send the patch, I'll  make sure to get reviewed quick and released as soon as possible.

[2017-03-08 11:29] estevopaz opened #155 "Error when empty title on <a> tag"
`html2text.html2text('<a repeat="tertiaryHyperlinks" name="04e9ba27-f94b-4c09-9098-b5b0d9659ee3" href="/Time-Highway-Schedule-Service" data-linkid="04e9ba27-f94b-4c09-9098-b5b0d9659ee3" title target></a>')`

In [73]: html2text.__version__
Out[73]: (2016, 4, 2)

Python 3.5.3

[2017-03-10 11:13] lifeboy opened #156 "Wrong response code returned"
As recorded [here](https://bugs.launchpad.net/ubuntu/+source/html2text/+bug/1564317), the following is an unexpected result:

[code]

It should return 1.

I don't have access to other environments, so **_could someone test this please_**?  I'm running Ubuntu 14.04 where this error occurs.

On FreeBSD, the package seems to have a different source and doesn't generate the error:

$ curl -s https://l

[2017-03-11 21:35] andreskrey commented on #152
Could not reproduce in Python 2.7.10 and Python 3.5.2 using the following code:

[code]

[2017-03-16 11:25] mohag commented on #156
(This seems to be aimed at http://www.mbayer.de/html2text/ instead...)

[2017-03-16 11:46] Alir3z4 commented on #156
@lifeboy are you sure you're referring to Python Html2text ?

[2017-03-16 12:50] lifeboy commented on #156
On 16 March 2017 at 13:25, Gert van den Berg <notifications@github.com>
wrote:

​Indeed, I never considered that there may be multiple html2text sources
out there...  ​

[2017-03-16 12:53] Alir3z4 commented on #156
I close this, if you used the Python Html2text and found a bug, please report to us.

[2017-03-16 12:53] #156 closed

[2017-03-25 15:00] #155 closed

[2017-03-25 15:01] Alir3z4 commented on #155
@estevopaz This has been fixed in https://github.com/Alir3z4/html2text/pull/159
I've merged the patch into master branch and soon we'll issue a release.

[2017-04-21 15:22] ciprianmiclaus opened #160 "The html2text tests are failing on Windows and on Cygwin due to differences in eol handling between windows/*nix"
The tests are trying to remove the extra \r from samples, but the logic is not sufficient.
I'm preparing a pull request.

- Version by 2016.9.19
- Python version 2.7.2

[2017-04-22 09:04] ciprianmiclaus commented on #148
HTMLParser identifies &key and &rid as entityrefs incorrectly.
See this bug report: https://mail.python.org/pipermail/python-bugs-list/2002-March/010575.html
In entityref, html2text calls name2cp and that fails and then outputs: &key; incorrectly.
I think the fix here should be that if name2cp(c) fails with KeyError, that means c is not really an entityref, so html2text should output:
"&" + c inst

[2017-04-24 11:47] #160 closed

[2017-04-24 12:15] ciprianmiclaus commented on #148
I don't think this is a bug.
The url in the text of the a tag should have been escaped, so instead of &key and &rid, I would have expected &amp;key and &amp;rid
Without escaping it, the Python's HTMLParser thinks &key and &rid are entityrefs.

HTMLParser seems to have a bug where it recognizes &foobar; and &foobar as entityref
https://mail.python.org/pipermail/python-bugs-list/2002-January/009512.

[2017-04-26 09:13] scila1996 opened #162 "Remove SLASH character before some list mark character"
This lib is awesome, but i have a small problem. i have a html code -> ...

s="\<div\>- this is text \<\/div\>"
print html2text.html2text(s)
output:
 \\- this is text

What is puporse of first slash character in the above output ??? HOw do I remove it ?

THank you !

[2017-04-26 12:31] Alir3z4 commented on #162
This is duplicate of https://github.com/Alir3z4/html2text/issues/97
You can see the solutions discussed there as well.

[2017-04-26 12:31] #162 closed

[2017-04-28 14:26] jjmurre opened #163 "Extra newlines added at start of markdown on second (and higher) invocation"
Is this behaviour intentional, and should an new instance of HTML2Text() be created to avoid this?

- Version by `html2text --version` 2016.9.19
- Test script
- Python version `python --version`  2.7.6

[code]

[2017-05-01 17:20] ciprianmiclaus opened #164 "Housekeeping: flake8 and py3.6"
There are a few flake8 issues in the code.
Ideally flake8 should be added to the travis build.
Also python 3.6 needs to be added to the travis build, and possibly pypy and pypy3.
I'm happy to send a pull request to address these.

[2017-05-01 21:08] Alir3z4 commented on #164
@ciprianmiclaus That's great.
Would love to see a pull request for that.
You might wanna checkout https://github.com/landscapeio/prospector as well, I use that in all my projects.

Let me know if you need anything from my end

[2017-05-11 09:40] ziima opened #166 "Long table rows cause incorrect table conversions"
- Version by `html2text.__version__`: (2016, 9, 19)
- Test script
[code]

- Python version `python --version`: 2.7.13

[2017-05-24 23:43] Alir3z4 commented on #164
Fixed in https://github.com/Alir3z4/html2text/pull/165

[2017-05-24 23:43] #164 closed

[2017-06-15 20:35] ciprianmiclaus commented on #109
I will pick this up and send a patch.

[2017-06-15 21:21] Alir3z4 commented on #109
Awesome

On Fri, Jun 16, 2017 at 12:35 AM, Ciprian Miclaus <notifications@github.com>
wrote:

[2017-06-15 22:55] #109 closed

[2017-06-16 03:12] samuelbradshaw opened #170 "Add --no-markdown option"
I would like a --no-markdown option to convert HTML to plain text.

[2017-06-16 09:10] jonathan-zageno commented on #170
Just a note that you can reasonably easy do that with the library lxml. Once you've parsed the html you can call `itertext` on any element which is an iterator over all text elements contained in that root element.

[2017-06-16 09:29] jonathan-zageno opened #171 "Table breaks due to usage of <br> inside cells"
[code]

It gives me the following markdown which is broken. So it seems like the best solution would be to <br> from tables first?

[code]
- Version html2text 2016.9.19
- Test script
- Python version 3.6.1

[2017-06-16 09:35] jonathan-zageno commented on #171
similar to #151

[2017-06-16 09:38] jonathan-zageno commented on #115
I'm having this issue as well, I opened the issue #171 for this. Let me know if you need more information and I'll happily be as helpful as I can.

[2017-06-16 09:55] jonathan-zageno commented on #115
For the time being I solved this by removing <br> using lxml: https://stackoverflow.com/a/7981897/554903

[2017-06-16 09:56] #171 closed

[2017-06-21 01:19] bjones1 commented on #109
@ciprianmiclaus, thanks. I got bogged down in other areas. This fix will help me on my projects.

[2017-06-22 10:19] ciprianmiclaus commented on #150
Why only trailing br? Why not all br anywhere within a li?

[2017-06-26 08:43] #143 closed

[2017-06-26 08:44] Alir3z4 commented on #143
@Tratoschek this has been fixed in https://github.com/Alir3z4/html2text/pull/172
Feel free to report if the issue still occurs.

[2017-06-26 19:12] therumbler commented on #148
@ciprianmiclaus is 100% correct. Closing this issue.

[2017-06-26 19:12] #148 closed

[2017-07-11 12:56] schtibe opened #173 "Consecutive em tags end up in __"
When there is a closing em tag followed by an opening one, the output will result in a double underscore, which seems to be invalid Markdown syntax.  I think the _ must always be surrounded by a space in markdown.

See following test code:

[code]

Tested with:
* html2text 2016.9.19
* Python 3.5.3

[2017-08-10 17:00] jonathan-s opened #176 "<abbr>"
html2text generates markdown for `<abbr>` tags. But to the best of my knowledge there is no official support for markdown for `<abbr>`. I tried the markdown generated by html2text in [stackedit](https://stackedit.io) and the markdown won't render there.

I would suggest that generating markdown for `<abbr>` is turned off by default. But you could turn it on with a setting. How does that sound @Ali

[2017-08-11 23:02] jonathan-s commented on #173
PR #177 should fix this.

[2017-08-12 17:17] jonathan-s commented on #142
Fixed by #177

[2017-08-12 17:59] Alir3z4 commented on #176
So the abbr is not officially supported by Markdown and if the text contains such element, the markdown won't render it.

Html2text is not trying to convert HTML to Markdown exactly, instead it claims:

That means the converted text operationally should be able to get back to html as well.
I don't think turning off `<abbr>` by default would be a good idea, because the converted text would lose its

[2017-08-12 18:05] Alir3z4 commented on #170
I agree with @jonathan-zageno here.
Such thing can be easily done by lxml or any other tools that strip HTML tags.
Django web framework already has such tiny function you can look at it.

A quick note, how Tables  or definitions lists can be converted to plain text ?

[2017-08-12 18:05] #170 closed

[2017-08-12 19:09] jonathan-s commented on #176
Fair enough :). But I think there should at least be an option to turn off the default markdown generation of `<abbr>` if you're unable to support the option.

[2017-08-12 19:11] Alir3z4 commented on #176
Correct, I agree with turning it off by an option and not by default.

On Aug 12, 2017 23:09, "Jonathan Sundqvist" <notifications@github.com>
wrote:

[2017-08-13 00:53] samuelbradshaw commented on #170
I was mostly able to get what I needed using these options. Thanks!

h = html2text.HTML2Text()
h.unicode_snob = 1
h.ignore_emphasis = True
h.single_line_break = True

[2017-08-13 13:29] #142 closed

[2017-08-13 13:29] #173 closed

[2017-08-13 18:15] Alir3z4 commented on #131
Yes, that's correct.
Thanks for reminding.
I close this then.

[2017-08-13 18:15] #131 closed

[2017-08-14 16:42] jonathan-s opened #178 "Handling of whitespace at end of line"
If you have an editor which strips whitespace at the end of the line when you save it. It will sometimes strip whitespace that is necessary for the test to pass. Ideally html2text should produce an output where the whitespace at the end should already be stripped.

a sample of tests where this occurr:
- pad_table.md
- normal.md
- normal_escape_mod
- doc_with_table.md

[2017-08-23 07:22] ArtemSyzonenko opened #181 "How to run from command line?"
Sorry for maybe stupid question, but how can I run html2text from command line? Old version of html2text had file html2text.py, so I could run it from Ruby like

`system("html2text/html2text.py" "<p>Hello</p>")`

How should I run it now when all Python files combined in one folder? Should I run init.py, cli.py anything else?

[2017-08-23 09:48] Alir3z4 commented on #181
@Zowal you should be able to run it by `html2text.cli` (html2text/cli.py).
The command line has been defined in html2text.cli `main` method.

[2017-08-23 09:56] Zowal commented on #181
This is all I can get:

![image](https://user-images.githubusercontent.com/3165345/29610288-720df4f4-8802-11e7-9c6d-75116b55a845.png)

[2017-08-24 17:37] richfelker opened #182 "Entities are not decoded"
`echo 'foo &gt;' | html2text`

Result: `foo &gt;`
Expected: `foo >`

This rather defeats any hope of using html2text for the main purpose I want it for, as a mailcap filter for reading html email and formatting it nicely to reply to (via mutt).

I'm not sure what should happen when the > is at beginning of line (where it would be ambiguous with md formatting) but it should probably be escaped, not

[2017-08-28 12:46] Alir3z4 commented on #181
That's because html2text is not found in your system PYTHONPATH.
I guess you can solve it by adding the html2text path to Python Path while running the scripts, for example
 `PYTHONPATH=$PYTHONPATH:/html2text/path/here python html2text/cli.py`

[2017-08-28 12:56] Zowal commented on #181
No, I just get the same "No module named html2text.compat".  It's strange as I could run the same with https://github.com/aaronsw/html2text

[2017-09-01 01:51] JokerQyou commented on #15
I don't quite understand why i18n matters for a cli tool, but if you're going to implement it, wouldn't it be enough to just read from `LANG` / `LANGUAGE` / `LC_CTYPE` environment variables?

[2017-09-01 16:03] Alir3z4 commented on #15
@JokerQyou the CLI help and description in the source code are all written in English.
Would be fine if the CLI was in Arabic or Spanish and English speaking people wanted to use it ? I don't think so. The same goes for non-english speaking people.

[2017-09-06 06:55] DrMeers opened #184 "sitecustomize.py is included in pip installation and causes trouble"
So when I have `html2text` in my pip requirements, `lib/python2.7/site.py` tries to import `sitecustomize` and grabs it from `src/html2text/sitecustomize.py` which blows up trying to read `.coveragerc` from the current working directory. The `sitecustomize.py` in the module is specific for running the tests from the repository root and should not affect installations. I was going to exclude it fro

[2017-09-07 05:34] feiglex opened #185 "How to ignore the "#" which the <h1> -<h6>generate"
- Version by `html2text --2016.9.19`
- Python version `python --2.7.13`
- `
import html2text

html = "&lt;p&gt;hello, this is &lt;em&gt;html2text&lt;/em&gt;&lt;/p&gt;&lt;strong&gt;it is strong label&lt;/strong&gt;"
h = html2text.HTML2Text()
print h.handle(html)

h.ignore_emphasis = True
print h.handle(html)

html = "&lt;h6&gt;This is title&lt;/h6&gt;"
print h.handle(html) #    value: ###### This i

[2017-09-07 10:10] lroolle commented on #185
This is a ``html2markdown`` :XD cause we're encountering with the same problem...

[2017-09-07 10:53] Alir3z4 commented on #185
So you want to keep the whole thing same but only removing `#` from the output ?

[2017-09-07 10:57] Alir3z4 commented on #184
I think it makes sense to exclude the tests and all the related files to tests from the distribution package.

[2017-09-08 01:32] feiglex commented on #185
yeah, I just want to keep the text i see in the website. with removing #.
Are there any configuration to remove # ?

[2017-09-08 03:34] DrMeers commented on #184
I think the `sitecustomize.py` problem only occurs if you use a `-e` (editable) pip installation. If I remove the `-e` from my `requirements.txt` the issue is resolved. Maybe this issue is invalid...

[2017-09-08 03:34] #184 closed

[2017-09-08 11:23] Alir3z4 commented on #184
Thanks for updating and clarifying the issue.
I'm still not sure if shipping tests would be helpful.

[2017-09-08 11:25] Alir3z4 commented on #185
No, there's no option to disable the formats. We aim to generate a text that at least is able to get back to its original format, removing all format options won't be helpful.

However, for the purpose of removing all the HTML tags from the text, you can use lxml or beautifulsoap and perform stripping html tags that will give.

There's a similar feature request: https://github.com/Alir3z4/html2tex

[2017-09-25 10:44] lolobosse commented on #151
I'm facing this very same issue, any status update on that?

[2017-10-03 18:05] andreskrey commented on #182
Could not reproduce:

foo >

Using [this revision](https://github.com/Alir3z4/html2text/commit/1317a98e2d47043f521e84d7c4ac79e821f6ab57)

[2017-10-03 19:07] richfelker commented on #182
I used the version available via pip (2016.9.19), so perhaps the bug has been fixed since then?

[2017-10-03 21:51] andreskrey commented on #182
I'm not familiar with the commits history but could be the reason.

[2017-10-04 06:25] Alir3z4 commented on #182
I'm going to cut a release now which includes the the fixes now.

[2017-10-04 07:07] Alir3z4 commented on #182
@andreskrey thanks for the confirmation and testing the issue on the latest.
@richfelker thanks for reporting the bug.

This has been fixed in the latest release.
The new version is available at https://pypi.python.org/pypi/html2text/2017.10.4

[2017-10-04 07:07] #182 closed

[2017-10-06 02:25] TheSnoozer opened #186 "images-to-src Function?"
Is there an easy way to basically condense the images to the src-tag only?
The test script below kinda produces an ugly result.
Might be related to https://github.com/Alir3z4/html2text/pull/49

- Version by `html2text --version`
```__version__ = (2016, 9, 19)```

- Test script
[code]

results in
[code]

- Python version `python --version`
```Python 3.5.2```

[2017-10-17 20:03] rmanak commented on #163
Same issue here! I have to create a new object every time I handle HTML

[2017-10-19 19:40] philtherobot opened #188 "Non-ASCII in title attribute causes encode error"
[code]

Sample HTML that reproduces issue:

[code]

The noteworthy part is the accented capital O in the title attribute.

Save this HTML to an UTF-8 encoded file then:

[code]

The bug is caused by a Python format() call when handling the rare case of having a title attribute.

My understanding is that format wants to convert to ascii.  Should not the code want to encode to the output encoding?

[2017-10-23 05:26] tastynachos opened #189 "mark_code with <p class="pre">"
$ html2text --version
html2text 2016.9.19
$ python --version
Python 2.7.14

I noticed the code doesn't handle marking code when its wrapped around  <p class="pre"> tags. I found during parsing it doesn't handle attrs and I was able to get around this by:

$ diff -u __init__.py /usr/local/lib/python2.7/dist-packages/html2text/__init__.py
--- __init__.py	2017-10-22 22:23:31.588370064 -0700
+++ /usr/

[2017-11-01 12:12] whuream commented on #188
and there is a bug in line 441 when url with en unicode

line 440            title = ' "{0}"'.format(title) if title.strip() else ''
line 441            self.o(']({url}{title})'.format(url=escape_md(url),
line 442                                            title=title))

[2017-11-02 15:18] MarvBob opened #191 "(py 3.6.3) Installation error: No pandoc was found"
I am making a python 3.6.3 virtual environment for testing.
When I try to install html2text I have an error with the following output:
[code]

Firstly, I would expect html2text to require pypandoc and install it as a dependency instead of raising an error, but the weird thing is that I already have pypandoc 1.4 installed in this environment.

[2017-12-05 17:31] ses4j opened #192 "Unicode inside the link-url is causing html2text to crash."
html2text 2017.10.4
Python 2.7.13

Test Script:
[code]

[code]

[2017-12-05 20:11] ses4j commented on #192
Maybe the best fix is to simple include this at the top of `html2text/__init__.py`?

`from __future__ import unicode_literals`

[2017-12-05 21:07] ses4j commented on #192
Ah, I see this already happened.  :)  https://github.com/Alir3z4/html2text/commit/6e46640b6853c2131dcbf1285aa92dfc0b15af4f

Please release this asap!

[2017-12-05 21:07] #192 closed

[2017-12-07 03:31] papesch commented on #166
I have this problem also, it looks like html2text does line wrapping at 78 or 80 characters that messes up the markdown table layout

[2017-12-07 04:28] papesch commented on #166
Fix:
* don't pad tables
* do use the following options (or their equvalent methods)

[code]

(rows that span multiple columns are still not handled but I suppose that's a separate issue)

[2017-12-25 04:38] theSage21 commented on #189
It's actually quiet possible to define the entire HTML as div tags and the semantics in classes. html2text does handle `code` tags well enough with backticks and pre tags are also preserved.

It would make sense to preprocess (perhaps with a regex?) the above HTML and replace `<p class="pre">` with `<pre>`.

@Alir3z4 ?

[2017-12-25 04:42] theSage21 commented on #186
#49 does indeed resolve this (html2text 2017.10.4). Does that resolve the issue?

[2017-12-25 04:47] theSage21 commented on #181
If you are working in a virtualenv it is quiet is easy. Here's what I did.

[code]

After this whenever you require the CLI use of html2text it can be achieved by one of two methods.

1. Activate the environment with `source ~/html2text/venv/bin/activate` and run `html2text`
2. Directly run the executable with `~/html2text/venv/bin/html2text <filename>`

Does that work for you?

[2017-12-25 04:53] #97 closed

[2017-12-25 05:03] theSage21 commented on #191
`pypandoc` is a wrapper around pandoc. I think you need pandoc separately installed. Pandoc is only included in the pre built package.

Can you confirm that this is the case? May be verify that pypandoc is usable otherwise in this environment with something like

[code]

[2017-12-25 21:50] TheSnoozer commented on #186
Hi, unfortunately #49 does not solve this requested here.
The issue is only related since it is only about converting the content of the 'alt'-tag.
My example does not have an alt-tag and thus rendering the conversion kinda useless.

Considering the minimal example (adjusted with ``text_maker.images_to_alt = True``):
[code]

would yield no output for the converted since the img does not have a alt

[2018-01-06 16:31] ahmedmohiduet opened #195 "Cannot filter strange symbols"
I am using this script for google search:
read string
query=`echo $string|sed 's/ /+/g'`
curl -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36' -H 'Connection: keep-alive' https://www.google.com/search?q=$query|html2text --surrogate-escape --escape-all --protect-links|sed 's/├//g;s/á//g;s/┬//g;s/ª//g;s/╕//g;s/«//g;s/╛//g

[2018-01-06 16:34] ahmedmohiduet commented on #195
Let me know if this an encoding issue. I am kind of confused which encoding I tailor for it. Sorry about scrambled output. I have added output.txt for convenience
[ouput.txt](https://github.com/Alir3z4/html2text/files/1608981/ouput.txt)

[2018-01-09 22:52] hartwork opened #196 "Mix-up between 2018.1.9 and 2018.9.1"
Hi!

I noticed that multiple places mis-announce the January release as "2018.__9.1__" rather than "2018.__1.9__":
* `ChangeLog.rst`
* The release notes at https://github.com/Alir3z4/html2text/releases/tag/2018.1.9
* PyPI: https://pypi.python.org/pypi/html2text/2018.9.1

Are you aware?

[2018-01-10 05:53] Alir3z4 commented on #196
Oh, that's embarrassing.
I'll fix now.

Thanks for reporting.

[2018-01-10 16:47] hartwork commented on #196
For the record, there are two instances of 2018.__9.1__ left at:
* In the change log: https://github.com/Alir3z4/html2text/blob/master/ChangeLog.rst#201891
* On the release page: https://github.com/Alir3z4/html2text/releases/tag/2018.1.9

[2018-01-31 18:04] dahlbaek opened #197 "option --pad-tables removes final row"
Thank you for this awesome tool! I ran into a problem though:

- Version by `html2text --version`
html2text 2018.1.9

- Python version `python --version`
Python 2.7.12

- Test script
First create the file `my_table` with contents
[code]
then run
[code]

It appears `--pad-tables` eats the final row. What am I doing wrong here?

[2018-01-31 18:13] dahlbaek opened #198 "Feature request: Ignore <p></p> tags in table"
- Version by `html2text --version`
html2text 2018.1.9

- Python version `python --version`
Python 2.7.12

- Test script
First create the file `my_table` with contents
[code]

Then, in the terminal:
[code]
It would be pretty awesome if there was an option to ignore `<p></p>` tags in tables, so the outcome would instead be
[code]

[2018-01-31 18:15] dahlbaek commented on #197
Oh wow, that `</td>` should have been a `</tr>`.

[2018-01-31 18:15] #197 closed

[2018-02-22 09:40] MarvBob commented on #191
Sorry for very late answer, but you were right, the test code you gave me failed so I installed pandoc and it works.
Thanks !

[2018-02-22 09:40] #191 closed

[2018-03-07 15:41] Dunedan opened #199 "Unexpected whitespaces caused by <br>"
- html2text version: `2018.1.9`
- Python version `3.6.4`

Using the following code I get unexpected whitespaces in front of each `<br>` which got replaced by `\n`:
[code]

Additionally the `single_line_break` setting doesn't seem to have any effect at all.

[2018-03-14 12:01] ld000 commented on #198
same issue, hope to support this feature

[2018-03-15 06:03] ld000 commented on #198
<strong></strong> also need to ignore

[2018-03-26 00:14] zpahuja opened #200 "Extending the library to include element position in text"
This is not a bug but a question. I want to use your library for annotating position of HTML elements from BeautifulSoup and Selenium within the generated text. How do I go about integrating BeautifulSoup into your library? Any pointers would be appreciated.

To illustrate what I am trying to achieve better, if your library only has text content inside the nodes, I want to prefix the text with x a

[2018-04-05 10:39] nguyenl95 commented on #38
I still met this issue when the link contains special characters like "-". The link is broken when set word wrap.

[2018-04-05 12:41] Alir3z4 commented on #38
@nguyenl95 have you consider `--reference-links` ?

[2018-04-06 04:11] nguyenl95 commented on #38
I intend to use html2text as lib instead of command-line.
Btw I just found your /tests and wrapped it in function.

[code]

[2018-04-06 12:01] Alir3z4 commented on #38
@nguyenl95 Thanks for mentioning.
I didn't noticed you were referring to use of of the lib itself and not he CLI.

I'd love to see a pull request for updating the documentation so other can see and use it.
You would be modifying:

* https://github.com/Alir3z4/html2text/blob/master/docs/how_it_works.md
* https://github.com/Alir3z4/html2text/blob/master/docs/usage.md

Let me know if I can help you w

[2018-04-07 12:42] nguyenl95 commented on #38
Actually there is one feature I think of.

It is the limit of output, my forum platform doesn't allow my crawler to post the content over 32000 characters.

[2018-04-08 09:24] Alir3z4 commented on #38
@nguyenl95 Great, feel free to make a feature request or even better a pull request, I would love to know more about it.

[2018-05-15 16:20] ataylor32 opened #201 "IndexError: string index out of range"
I got some unusual HTML from an HTML email and it caused html2text to raise an exception.

html2text 2018.1.9
Python 3.5.2

[code]

[2018-05-23 10:06] randomnoob opened #202 "Unusual line break inside link when converting table"
I got some unusual line breaks inside links when converting tables

Input
`raw = """<td align="center" width="211">
      <img alt="Algerian chorba with bird tongues 4" class="alignnone size-thumbnail wp-image-48225" height="150" src="https://www.amourdecuisine.fr/wp-content/uploads/2016/06/chorba-alg%C3%A9rienne-aux-langues-doiseaux-4-150x150.jpg" width="150"/>
      <a href="https://www.amourdec

[2018-06-15 08:03] otsab19 commented on #202
Is this solved?

[2018-07-05 03:10] christophered opened #204 "parallel html2text"
Hi there,
I have a folder that contains a large number of `.html` files, and able to run `html2text` on all files using:
[code]

But how can I run `parallel` on such command, so that I have multiple instances of `html2text`?
@Alir3z4

[2018-07-07 13:45] Alir3z4 commented on #204
Thanks for the question.
You may be able to just

[code]
To make them run in the background but obviously that would eat your RAM and CPU since it will spin up html2text instances for each file at the same time.

What I can suggest is to use the library itself with multiprocessing or multi thread.
You may find below resources a good place to look into:

* https://pymotw.com/2/multiprocessing/basic

[2018-07-07 14:04] christophered commented on #204
I am working on a large number of files, and frankly it's somewhat a nightmare to try to clean those files.
Parallel is capable of cutting the time into half using my modest resources but still many hours.
I don't think multiprocessing would make a change, atleast I never tested such thing before.
https://stackoverflow.com/questions/51184001/run-html2text-using-parallel

[2018-07-07 14:04] #204 closed

[2018-07-08 10:21] Alir3z4 commented on #204
I see, thanks for sharing the SO thread.

I have used `html2text` for processing a sum up of ~4 millions items, although they weren't files, they were being pulled over the network from multiple sources. In the case, I've used Celery for processing background tasks and it wouldn't take more than ~2-3 minutes to get done, to be honest the blocking was actually was IO by network operations (pulling

[2018-07-08 12:20] christophered commented on #204
@Alir3z4 Can you help me with `multiprocessing`, how can I use `html2text` on it?
My current command that I use is:
`find . -type f -name \*html > list.txt`
`parallel --a list.txt -j 3 'html2text {} > {.}.txt'`

[2018-07-11 14:06] evertrol opened #205 "Link to docs on http://alir3z4.github.io/html2text/ is broken"
The [docs] link on http://alir3z4.github.io/html2text/ is broken: it points to non-existent http://alir3z4.github.io/html2text/docs/usage.md . I can't find any correct URL, so perhaps the page simply doesn't exist on that domain.

The [docs] link in the (rendered) README on github.com points to https://github.com/Alir3z4/html2text/blob/master/docs/usage.md , which does exist.

[2018-07-29 23:09] TimothyBramlett opened #207 "How to maintain newlines in converted html"
I am using this library to convert a Django HTML Email template that has been rendered to html to plaintext (So I dont have to keep a text version and an html version).

One problem I am encountering though is that I have some text that is injected into the html, coming from the db, and it already has whitespace and newlines that I want to maintain in it.  Using html I am able to maintain these wi

[2018-08-03 13:32] JulienPalard opened #208 "LEFT-TO-RIGHT MARK sometimes causing a crash"
Hi, using `html2text 2018.1.9` and `Python 3.7.0`, I'm having an issue with the `U+200E LEFT-TO-RIGHT MARK` caracter:

[code]

[2018-08-03 13:54] JulienPalard commented on #208
I think the big problem is `charref` can easily return the empty string, (`return ''` obviously, and `return unifiable_n[c]` both can return the empty string too).

But `handle_data` receiving the result of `charref` hits `data[0]` as soon as its line 6.

[2018-08-08 09:11] neha30 opened #211 "AttributeError: addinfourl instance has no attribute 'replace'"
I am trying to run html2text so that I can get the text from an HTML page. But I am getting the following error:
AttributeError: addinfourl instance has no attribute 'replace'

my code is:

    import html2text
    from urllib import urlopen

    url = 'https://www.some_url.com'
    html = urlopen(url)
    text = html2text.html2text(html)
    print text

Thanks

[2018-08-10 05:48] neha30 commented on #211
@Alir3z4 it's working now I changed the line:
    html = urlopen(url)
to
    html = urlopen(url).read().decode('utf-8')

[2018-08-10 05:58] #211 closed

[2018-10-15 18:17] jvanasco opened #213 "images_as_html option?"
it would be nice if there were an `images_as_html` option, which would render `<img src=""/>` instead of the markdown code for an image.  it should include the `alt` tag if provided, and include/omit height/width depending on the existing `images_with_size`.

`img` tags do not need to be converted to markdown, and in some situations it is preferable to not use the markdown encoding.

if this idea

[2018-11-14 21:08] JayPalm opened #216 "Choose header style for <h1> and <h2>"
Is it possible to choose a header style?
i.e.
\<h1>Header 1</h1> ---> Header 1\n========\n

\<h2>Header 2</h2> ---> Header 1\n--------\n

It would also be nice to be able to choose to include ending '#'s if using that style, i.e.
\<h3>Header 3</h3> ---> ### Header 3 ###

[2018-12-02 16:26] lpbas opened #217 "Disable escaping of ordered list items (numbers)?"
- Version: html2text 2018.1.9
- Python 3.6.5

Hello. I'm trying to convert an HTML string to plain text (not MD) and I've gotten everything working with this great library. My only problem is when I have something like this:

`<p><strong>1. Zed's</strong> dead baby, <em>Zed's</em> dead.</p><p>2. Hello There!</p>`

and the output I'm getting, has escaped the numbers like so:

1\. Zed's dead baby, Z

[2018-12-02 18:59] L4grange commented on #217
I see that issue #97 is similar, and for now went with the `replace('\\', '')` solution. Are there any plans on implementing such feature or the --no-markdown option though? Thank you

[2018-12-03 10:07] jwilk opened #220 "Encoding detection is dead code"
`cli.py` has the following code:

[code]
and
[code]
But since 68a2b8ef4799be0705e42013c67996bcf06ee628 this code does nothing, because `encoding` is never None.
Moreover, `_getCharacterEncoding` was removed from feedparser in 2012: https://github.com/kurtmckee/feedparser/commit/cb234cab1f01ebce7f4676afaea8ca6e2a7646c3

[2019-01-07 19:40] #186 closed

[2019-01-07 19:40] #213 closed

[2019-01-07 19:42] #201 closed

[2019-01-07 19:51] Alir3z4 commented on #220
@jwilk Good catch.
Please feel free to submit a patch and I'll happily merge.

[2019-01-07 19:54] Alir3z4 commented on #216
No it's not possible to do such thing.
Html2text simply convert the given html to the cleanest text which looks like markdown as well and in a sense that can be reproduce a close to original html as well if parsed with any of the Markdown parser libraries.

[2019-01-07 19:54] #216 closed

[2019-01-07 19:58] Alir3z4 commented on #217
For now `replace('\\', ''` that's the way to go, and we don't have any in-progress work for `--no-markdown` or maybe someone is working on it that I'm not aware of.

However, to get a text only version of text, wouldn't something like stripping html tags completely do the job ?

[2019-01-07 20:06] Alir3z4 commented on #208
Did https://github.com/Alir3z4/html2text/pull/206 fixed this ?

[2019-01-07 20:07] Alir3z4 commented on #205
Thanks for reporting.
That will be taken care of.

[2019-01-07 20:08] Alir3z4 commented on #189
Anything that doesn't make the code ugly and hard to read is fine by me.
My vote for having such fix.

[2019-01-07 21:58] JulienPalard commented on #208
No:

[code]

[2019-01-08 11:47] Alir3z4 commented on #208
Would you be able to submit patch for this problem ?

[2019-02-22 10:02] marksweb commented on #196
Yeah this just confused me. I copied the version from the top of the change log, put it in my `requirements.txt` & then pip couldn't find the version. I thought it was unreleased, not on pypi, but it's just a typo.

[2019-02-23 12:30] hartwork commented on #196
@Alir3z4 can you fix the remaining leftovers?

[2019-02-23 13:08] marksweb commented on #196
FYI I submitted a PR for the change log correction. Obviously the release page can't be updated.

[2019-02-23 14:12] hartwork commented on #196
Cool! I don't see it at https://github.com/Alir3z4/html2text/pulls though?

It can :smiley:

[2019-02-23 15:45] marksweb commented on #196
Oh, you can edit tags, nice. Never tried until just now, so didn't know!

[2019-02-25 15:08] jdufresne opened #237 "<strong> adds unexpected space after tag"
**Version by `html2text --version`**

html2text 2018.1.9

**Test script**

[code]

*Expected*: `'**hello**world\n\n'`
*Actual*: `'**hello** world\n\n'`

**Python version `python --version`**

Python 3.7.2

[2019-02-25 15:15] jdufresne opened #238 "HTML entities sometimes add an extra space"
**Version by `html2text --version`**

html2text 2018.1.9

**Test script**

[code]

*Expected*:

[code]

*Actual*:

[code]

Notice there are two spaces before `>`.

**Python version `python --version`**

Python 3.7.2

[2019-02-25 19:14] jdufresne commented on #220
Cleaned up in 9e8f74482d7f7406bd905dccb4f0396d30bbe09b

[2019-02-25 19:14] #220 closed

[2019-02-26 03:05] #117 closed

[2019-02-27 15:05] #237 closed

[2019-02-28 05:56] jdufresne commented on #208
@JulienPalard I've proposed a fix for this in #255. If you have the time, could you test it against your real life use case? Thanks.

[2019-03-01 01:47] jdufresne commented on #238
Fixed in 46ecef3afb05d281f377de2ef07d4c17cc29ae6e

[2019-03-01 01:47] #238 closed

[2019-03-02 18:56] jdufresne commented on #153
I am not able to reproduce this on the latest master. Perhaps this has been fixed and can be closed.

[2019-03-06 13:53] #208 closed

[2019-03-08 05:22] johnflux opened #263 "No "--" command line option to seperate filename and options"
- Version by `html2text --version`

$ html2text --version
Unrecognized command line option "--version", try "-help".

- Test script

$ echo "Hello" > -f.html
$ html2text -f.html
Unrecognized command line option "-f.html", try "-help".
$ html2text -- -f.html
Unrecognized command line option "--", try "-help".

[2019-03-10 21:13] jestoy0514 opened #264 "Supercript tag has been deleted."
Hi, I am currently working on a desktop application and uses your module to convert html to markdown when I came across with this problem. I have check the internet and didn't found any syntax for superscript for markdown. With these in mind, I would like to know if there is some work around this so that superscript html tag will be ignored?

- html2text 2018.1.9
[code]
- Python 3.5.2

[2019-03-14 22:41] macropin commented on #202
I'm seeing this as well. The markdown tables are not rendered correctly.

[2019-03-30 01:36] Hieunv1996 commented on #264
I also have this problems. Add this before and after use html2text can help you handler it:
[code]

[2019-04-24 05:55] jestoy0514 commented on #264
Thank you. I haven’t tried it but I will. I might going to encapsulate this into a method for easy access. Thank you.

[2019-04-24 05:55] #264 closed

[2019-06-04 21:13] jvanasco opened #265 "proposal - default bodywidth to `None`"
`bodywidth` is currently specified in an init argument, defaulting to `config.BODY_WIDTH`.

https://github.com/Alir3z4/html2text/blob/master/html2text/__init__.py#L43

A problem with this approach: the `__init__` function creates the default value for bodywidth when it is interpreted.  changing the value of `config.BODY_WIDTH`after importing html2text will have no effect.

I propose the following:

[2019-06-04 22:37] jvanasco opened #266 "new release?"
is there any plan for a release, or perhaps bumping the version id the git repo ?
the git repo identifies as 2018.1.9 so a force reinstall is needed when trying to run against it.

[2019-06-11 23:21] getorca opened #268 "BUG: Line Feeds getting added"
html2text Version - 2018.1.9`
Python version - 3.7.1

when I convert the following:
`description = '<div itemprop="description"><p>This is a complete rebuild car 351 Windsor! Only 500 kms since rebuild, crest safety power steering all new parts! Must see car 3 speed automatic serious inquires only 36000 take this baby home!</p></div>'`

with:
`h = html2text.HTML2Text()
h.ignore_links = True
text_d

[2019-06-14 14:24] gbrova opened #269 "Reusing single HTML2Text object on multiple documents is slow"
On a corpus of ~10,000 documents, reusing the same HTML2Text object takes well over an hour:

[code]

But creating a new object every time takes only 2 minutes:

[code]
Is there a reason why this might happen?

I can try to construct a (smaller) corpus to reproduce this problem, if that would be helpful to debug.

Versions:
[code]

[2019-06-27 14:41] JacksonToomey opened #271 "Nested strong tags result in incorrect markup"
- Version by `html2text --version`
2018.1.9
- Python version `python --version`
Python 3.6.6

With an input of `This tag shows <strong>bold<strong> text.</strong></strong>`, the resulting markup is `This tag shows **bold **text.****`.  It should be `This tag shows **bold text.**`.

[2019-07-08 09:59] KrisTomura opened #273 "AttributeError"
- Version by `html2text --version`
    - html2text 2018.1.9
- Test script
[code]
- Python version `python --version`
    - Python 3.7.3
- Error
[code]

[2019-07-11 07:40] hsmett commented on #273
Hi @KrisTomura

First, your getUrl function doesn't return anything. It should `return` the provided url.

Then you are trying to convert the input url directly.
I'm pretty sure you would prefer to fetch the page content first :)

And finally, `html2text.html2text(html)` returns the text directly.
Here is your working script:

[code]

[2019-07-14 10:58] Alir3z4 commented on #266
No worries, I have it planned.

Waiting on https://github.com/Alir3z4/html2text/pull/272 to merge and cut a release.

[2019-07-29 04:17] theSage21 commented on #129
@Alir3z4 can we drop python 2 support? That should open up a lot of opportunities for cleanup.

I remember some code I wrote had to be slow since I couldn't figure out where else to put it.

[2019-07-29 05:53] Alir3z4 commented on #129
If dropping Python 2 comes with type hinting all over place, please do drop Python and remove any existence of it and please do apply type hint etc on it .

[2019-07-29 05:59] theSage21 commented on #129
yep yep. I was thinking of type hinting too

[2019-07-31 00:43] jdufresne commented on #129
I started the process of removing Python 2 in PR #274. I'm perfectly happy to wait to land this until after the next release if that is preferable. If this looks good, we can begin the type hinting :tada:

[2019-07-31 01:20] theSage21 commented on #129
the PR looks good. :+1:

AFAIK, we haven't warned anyone about the deprecation. Maybe introduce a deprecation warning for old versions right now and then by December completely get rid of 2.x?

A sudden drop of 2.x might affect a lot of people

[2019-07-31 02:41] jdufresne commented on #129
The PR contain the line `python_requires=">=3.5",`. This means the `pip` command will only download and install a compatible version for the running Python (the last version). So there shouldn't be a sudden change for these users, they'll see no change. On the other hand, users with Python >= 3.5 will get the newer version.

For details on this, see: https://packaging.python.org/guides/distributin

[2019-07-31 11:33] theSage21 commented on #129
I missed that. :+1:  Thanks.

@Alir3z4 I think it might be ok if we create a separate branch to merge the 3x changes into. Type hints etc. Then once ready we can merge that into master.

Is there a better way of doing this? I haven't done this a lot

[2019-07-31 12:22] Alir3z4 commented on #129
I suggest to do it this way, please let me know your idea.

Currently we have bunch of bug fixes etc that are compatible with Python 2 and Python 3.
Let's cut a release for the current master.

Then we can merge https://github.com/Alir3z4/html2text/pull/274 directly into master and do the type hinting etc incrementally or a big refactor if needed.

I think having a separate branch for Python 3 wou

[2019-07-31 13:35] jdufresne commented on #129
That works for me! Ping me after the release and I'll rebase the PR.

[2019-07-31 16:03] Thingus opened #276 "conda forge submission"
Hi maintainers
I'm putting a library up on Conda-Forge, and it contains this library as a dependency. Are you alright with my using conda skeleton to submit this repository to conda-forge? I'm happy to list myself as the maintainer, and it includes all references back to this repository.
The library in question:
https://github.com/clcr/pyeo
The conda forge pull request:
conda-forge/staged-recipes#

[2019-08-10 17:20] #273 closed

[2019-08-11 19:39] Alir3z4 commented on #266
Thanks, new release is out now https://github.com/Alir3z4/html2text/releases/tag/2019.8.11

[2019-08-11 19:39] #266 closed

[2019-08-11 21:40] jdufresne commented on #266
@Alir3z4 Thanks for the release! It looks like a wheel wasn't uploaded to PyPI.  Do you mind uploading one for the release?

Doing so should be as simple as doing a clean checkout of the tag and running the commands:

[code]

https://twine.readthedocs.io/en/latest/

[2019-08-11 21:47] Alir3z4 commented on #266
Oh sorry, I've missed that.

It's there now ;)

[2019-08-15 10:12] #276 closed

[2019-08-23 11:51] sebma opened #287 "html2text through pipe : AttributeError: 'str' object has no attribute 'decode'"
Hi,

I'm using :
[code]
The URL I want to translate to text is http://www.peter-adam.com/jpv/JPV_Titles.php, it contains Chinese utf-8 text :
[code]
So I tried it with http://www.google.fr but it does not work either :
[code]

Can you help me ?

[2019-09-03 21:40] aucampia commented on #287
I get the same error, the problem is how stdin reading is handled for python 3.

[code]

Workaround for now:

[code]

[2019-09-05 08:14] tommilligan opened #288 "utf-8 encoding error in output text"
- Version by `html2text --version`: **2019.8.11**
- Test script: n/a
- Python version `python --version`: **3.6.8**

In the currently released version, there is a [manual `.encode` wrapper](https://github.com/Alir3z4/html2text/commit/b361467894fb277563b4547ec9d4df49f5e0c6e3#diff-6e5e7d6517d090aad7658f47f28d2046L191) before writing to `stdout`. This leads to occasional utf-8 related errors such as:

[2019-09-05 19:42] sebma commented on #287
@aucampla Thanks, I've switched `html2text` to python2.

[2019-09-17 07:49] tommilligan commented on #288
@jdufresne ping

[2019-09-17 09:22] chen-xiao-dong opened #290 "when span and p cascded there will be multiple breaklines"
- Version by `html2text --2019 08 11`
- Test script

[code]

- Python version `python --version`

[2019-09-19 23:25] jahir opened #291 "removal of unescape() broke rss2email"
Hi!

In #63 (commit 5443b50) unescape() was removed because it was said to be unused. Unfortunately, it is used by rss2email (at least the version that is shipped with Fedora). I know r2e is somewhat outdated (last release in 2011), but it was working quite fine.
Is there any chance of re-adding this function?

[2019-09-24 17:28] eli-schwartz commented on #117
Someone submitted a downstream bug complaining about this. I noticed that in the report, it noted that "https://..." is an IOError because it isn't a file or directory.

Do you think it might be useful to check if the argument is not a file and contains an url protocol, and emit a better error message stating that url links aren't supported?

[2019-09-24 17:35] rico666 opened #292 "How to emulate 2018.1.9 parsing behavior?"
After making the big mistake to use html2text in one of my projects...

... I now face the following problem(s):

2019.8.11 removed the ability to retrieve text documents. Ok, one can workaround this with using wget, curl or whatever and give html2text just the retrieved document.

Unfortunately, with the default settings, html2text  2018.1.9 and 2019.8.11 also differ in their parsing result signi

[2019-09-25 07:25] jdufresne commented on #291
Could that package use the stdlib [`unescape`](https://docs.python.org/3/library/html.html#html.unescape) instead? As a matter of fact, looks like this was already done in the package https://github.com/rss2email/rss2email/commit/81824e25723dcd2936f25f64ebc16f2e8ec9f310

html2text is not intended as a collection of various utility functions. If the function is unused internally and not part of the

[2019-09-25 07:25] #291 closed

[2019-09-25 07:31] jdufresne commented on #117
Could you use `curl` or `wget` and pipe the result to `html2text`? Both of those utilities are extremely good at fetching text from a URL. Using these utility avoids us needing to add more and more features around fetching URLS (see the original post for examples).

[2019-09-25 07:33] jahir commented on #291
The Fedora package contains the original rss2email, which is no longer developed (as I wrote, last updated 2011) and uses Python 2. Since that is deprecated and will no longer be supported or updated from 2020 on, this is a good time to update to the (more or less official) successor (which carries, confusingly, the same name). The Fedora package will eventually be updated as well, so this can saf

[2019-09-25 07:34] jdufresne commented on #292
Do you know which commit this changed in? I don't see this mentioned in the changelog.

[2019-09-25 07:40] theSage21 commented on #117
That would be really awesome. I see no reason why we couldn't do that

On Wed 25 Sep, 2019, 13:01 Jon Dufresne, <notifications@github.com> wrote:

[2019-09-25 07:54] jdufresne commented on #288
Do you have an example command or script to demonstrate this bug?

I don't have permission to do releases, only merge PRs. Releases are handled by @Alir3z4.

[2019-09-25 08:13] jdufresne commented on #290
The extra newline is from the line:

[code]

This looks to be working as expected to me.

[2019-09-25 08:13] #290 closed

[2019-09-25 09:20] jdufresne commented on #287
Thanks for reporting. This has been fixed on the master branch and will be in the next release.

[2019-09-25 09:20] #287 closed

[2019-09-25 12:21] iavael commented on #287
@jdufresne could you tell, what was the commit with fix, please?

[2019-09-25 12:21] tommilligan commented on #288
Thanks anyway - I'll wait on a new release then.

I don't have a minimal example, but I can confirm it's fixed in `master` anyway, so this issue can be closed after cutting a new release.

[2019-09-25 13:07] jdufresne commented on #287
I believe it is b361467894fb277563b4547ec9d4df49f5e0c6e3

[2019-09-25 13:08] Alir3z4 commented on #288
If you could ping me, I'd be happy to set the permission on pypi ;)

[2019-09-25 14:14] jdufresne commented on #288
@Alir3z4  That'd be great. My PyPI username is jdufresne. Thanks.

[2019-09-25 14:18] Alir3z4 commented on #288
Awesome, done ;)

[2019-09-26 10:47] jdufresne commented on #288
I have released a new version with this fix included. If you continue to experience issues let us know. Thanks for the report!

[2019-09-26 10:48] #288 closed

[2019-09-26 10:49] jdufresne commented on #292
Can you provide the command line or minimal script to demonstrate the issue? If it produces output, can you be explicit as to what you expect? Thanks.

[2019-09-26 11:12] jdufresne commented on #271
Thanks for the report. I agree that MD doesn't allow nested bold. Would you like to submit a PR?

I believe `<em>` has the same issue.

[2019-09-30 11:51] rico666 commented on #292
I used html2text2 CLI script shipped with Arch Linux.

By default params I mean really default like

`html2text2 https://coinmarketcap.com/all/views/all/ > cmc.txt`

So for 2019.8.11 the fetch functionality I replaced with

wget --quiet https://coinmarketcap.com/all/views/all/ && html2text2 index.html > cmc.txt

but delivers a completely different txt file.

I should mention that it is a non-issue

[2019-09-30 11:51] #292 closed

[2019-10-22 01:21] madduck opened #303 "Continue '>' lead for blockquotes wrapped across multiple lines"
html2text 2019.8.11, Python 3.7.4
[code]
This is known as "lazy mode" as far as I know, and while it works and can be parsed back to HTML from Markdown, it would be awesome to have an option that governs the conversion such that the `>` leader is prefixed to every line:
[code]
Thank you for your consideration!

[2019-10-28 13:48] sergiomb2 opened #304 "AttributeError: 'str' object has no attribute 'decode'"
- Version by `html2text --version`
 2019.8.11

- Test script
wget --quiet -O - https://downloads.openwrt.org/snapshots/faillogs/x86_64/packages/ | /usr/bin/python3-html2text

- Python version `python --version`
Python 3.7.4

Ends with :
[code]

[2019-10-28 13:54] sergiomb2 commented on #304
I remembered that I read that with python 2 it worked . [1] works

[1]
wget --quiet -O - https://downloads.openwrt.org/snapshots/faillogs/x86_64/packages/ | /usr/bin/python2-html2text

[2019-10-29 00:15] jdufresne commented on #304
This was fixed in version 2019.9.26. Can you test with that version or master and report?

I verified that this does fail with 2019.8.11, but not with the newer release.

Duplicate #287

[2019-10-29 00:15] #304 closed

[2019-10-29 02:29] sergiomb2 commented on #304
One question is just for curiosity , why  2019.8.1 is not a release is just one tag ?
I think I miss the update by this reason ( be just a tag not a release)

Thanks

[2019-10-29 04:57] jdufresne commented on #304
It is a release. Here is the PyPI release page: https://pypi.org/project/html2text/2019.9.26/

When I install html2text with pip, it installs version 2019.9.26:

[code]

[2019-10-30 14:03] themikesam opened #307 "bypass_tables cutoff rowspan/colspan"
# PYTHON SCRIPT
[code]

## HTML INPUT
[code]

## HTMLOUTPUT
[code]

![image](https://user-images.githubusercontent.com/18574834/67864560-c27e4c80-fb60-11e9-9a5e-d726ae139d61.png)

- Version by `2018.1.9`
- Test script
- Python version `3.7.3`

[2019-10-31 00:40] jdufresne commented on #307
Thanks for the report. Would you like to submit a PR to fix it with a test?

[2019-10-31 00:52] themikesam commented on #307
Sure, since I’m not familiar with this, may u give me a direction where the code for processing table? I might take a look on it and have a try.

[2019-10-31 06:39] Y-sir commented on #268
you could solve it by setting the value of `text_maker.body_width`, eg:`text_maker.body_width = 2000`

[2019-10-31 06:40] Y-sir commented on #202
you could solve it by setting the value of `text_maker.body_width`, eg:`text_maker.body_width = 2000`

[2019-11-03 20:56] sergiomb2 commented on #287
Hi html2text-2019.9.26 fail one test on Centos 7 (1 failed, 165 passed in 6.34 seconds )

`test_command[/builddir/build/BUILD/html2text-2019.9.26/test/bodywidth_newline.html-cmdline_args10] `

[code]

[2019-11-07 16:41] mj-dd commented on #185
this should be called html2markdown

[2019-12-11 15:15] 098799 opened #308 "attributes line `wrap_links` not configurable on the library level"
- Version by `html2text --version`
```html2text==2019.9.26```

In the current version of html2text, if one tries to use the library through `html2text` function or `HTML2Text` class, there's no way to specify variables such as `wrap_links` for the program. It would be preferable if the class `HTML2Text` allowed configuration regardless of the cli usage. Currently, the package is not usable as a li

[2019-12-11 16:10] 098799 commented on #308
Issued a PR, but it can't be merged in the current state, as hits ``mypy``'s bug.

[2020-01-08 21:05] ahtimsir opened #310 "UnicodeEncodeError "surrogates not allowed" raised when converting utf-16-encoded emoji"
- Version by `html2text --version`: **2019.9.26**
- Test script
- Python version `python --version`: **3.7.3**

Somewhat related to https://github.com/Alir3z4/html2text/issues/288 ...

When the HTML uses UTF-16 encoding for emoji, the result from `handle()` is not printable:

[code]

[2020-01-10 01:44] jdufresne commented on #310
Thanks for the report.

Do you have a complete HTML document that renders correctly in a browser? Or are you expecting this to render as � (replacement character)?

[2020-01-10 01:48] ahtimsir commented on #310
So it does render as the replacement character in the browser, but because I'm using html2text to get 3rd party website content and I do run into this case where I got a character like that.

-TC

On Jan 9, 2020, 5:44 PM -0800, Jon Dufresne <notifications@github.com>, wrote:

[2020-01-16 14:23] jdufresne commented on #269
Does https://github.com/Alir3z4/html2text/commit/bd982bd31bc6ab6b4f03b5ca56b426c50c975725 help at all? Can you try the latest release?

[2020-01-16 14:27] jdufresne commented on #188
I can't reproduce this issue with the latest release using Python 3. Can you? Python 2 is no longer supported. Please leave a comment to reopen if you can still reproduce.

[2020-01-16 14:27] #188 closed

[2020-01-25 19:05] glendeni opened #314 "'latin-1' codec can't encode character ..."
using version downloaded today with Python 3.4.3 get

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2019' in position 59766: ordinal not in range(256)

from

https://www.co.monterey.ca.us/government/departments-i-z/resource-management-agency/public-works/road-conditions-closures

adding --decode-errors=ignore gives same result

[2020-01-25 19:41] jdufresne commented on #314
Thanks for the report.

Python 3.4 is end of life and no longer supported by the project. However, I tested anyway. The following command works for me using the latest commit on master:

[code]

Are you using the same or something else? Can you retest using the master branch?

[2020-01-27 03:50] glendeni commented on #314
Thanks for your reply.  I'm using version 2020.1.16, which is what I obtained by running 'pip install html2text' yesterday so assume it is the latest version.  Using the curl  command with that html2text ala your example I still get the same error.  [FWIW do not get that error for other webpages.]

If is works for you the problem must be on my end, so you might as well move on.  I'm not a python u

[2020-02-06 02:38] jpjoines opened #315 "text wrapped at 78 characters ignoring body_width setting and partially ignoring -b option"
I am using html2text version 2020.1.16 with Python 3.8.1.  html2text wraps the text at 78 characters regardless of the setting of BODY_WIDTH in config.py or body_width in the parser.  I set BODY_WIDTH = 0 in config.py, then:

228

'This line is longer than **seventy-eight** characters. It seems to be getting\nwrapped with backslash n line breaks at _seventy-eight_ characters regardless\nof the _bo

[2020-02-09 18:44] jadiah opened #316 "Code tag quotation"
The code tag is replaced with a single quote, is it possible to change the quotation mark or skip quoting? I have not found such an option, or is it not implemented?
- Version by 2020.1.16
- Python version 3.7

[2020-02-11 23:06] gbrova commented on #269
Thanks for following up, and sorry for the slowness here.  Only just had some time to check.

Master works correctly now.  According to git bisect, the fix was actually 7e31444392d1e, which fixes a memory leak.

[2020-02-11 23:06] #269 closed

[2020-03-02 14:44] ccurvey opened #317 "subclasses of ParserBase must override error()"
it seems that the `HTML2Text` class is a subclass of `_markupbase.ParserBase`, which requires subclasses to implement their own `error()` method.   When I am trying to parse some HTML that is throwing an error (I'll have to instrument my code to recover an example), it leads to the following stack trace:  (f

[code]

- Version by `html2text --version`

[code]

- Test script

I will have to instrum

[2020-03-09 16:47] traverseda commented on #117
This is actually really annoying. I've been using html2text since it was still maintained by aaronsw and really wasn't expecting major changes to core functionality like this.

[2020-04-08 06:20] jfly commented on #217
I think at least some people use this tool not to produce Markdown, but to produce plaintext versions of HTML emails (at least, that's [how I landed here](https://williamhuster.com/plaintext-email-with-django/)). In that scenario, it's useful to have certain things happen (like converting images to their alt text representation), but not so nice for backslashes to show up that you're going to end

[2020-04-23 15:11] cgianlu opened #320 "Table padding crash on empty tables"
reformat_table function raise an exception in case of empty tables (i.e. \<table\>\<\/table\>).

In fact in this case the list passed as parameter (lines) is empty so the following statement is wrong (lines[0] does not exist!)

                  max_width = [len(x.rstrip()) + right_margin for x in lines[0].split("|")]

[2020-05-02 21:55] gsantner opened #321 "~"
Nevermind, seems to be out of scope.

[2020-05-07 00:20] mborsetti opened #322 "Too much escaping breaks URLs containing parentheses"
- Use case: output from `html2text`is emailed
- Issue: URLs containing parentheses, brackets or other "markdown escapables" no longer link to the original resource due to insertion of backslashes

Steps to reproduce:

1. Start with an html `a` tag with an `href` containing a parenthesis, e.g. to https://www.sample.com/?url-with-(parenthesized-text)-)-[and-brackets]
2. Pass it through `html2text` (

[2020-05-08 22:30] #321 closed

[2020-05-21 05:53] RachelLYY opened #323 "How can I only get the text without herf links - I mean ignore all of text which have links"
- Version by 2020.1.6
- I want to get pure text in news, instead of text with herf which have links to another page
- Python version 3.7

[2020-05-21 06:46] jeremydouglass commented on #323
What are herf links?

[2020-05-21 06:48] RachelLYY commented on #323
![image](https://user-images.githubusercontent.com/20517959/82531515-22c2f300-9b72-11ea-8b67-8fb4562d8437.png)
just like this. I don't want to get the text of "生活"

[2020-05-21 06:52] RachelLYY commented on #323
![批注 2020-05-21 145039](https://user-images.githubusercontent.com/20517959/82531762-877e4d80-9b72-11ea-8a36-20b5ce66a9da.png)

Just like this. I don't want to get the “生活” text in the <font> tag under the <a> tag.

[2020-05-21 23:08] jeremydouglass commented on #323
Ah, **href**, not _herf_. Not sure why I didn't get it -- but you might want to fix the typo in your title.

[2020-05-22 04:20] RachelLYY commented on #323
Okkk. Thanks.

[2020-05-28 00:03] vyahhi opened #324 "Unnecessary spaces around <b></b>"
The html code `X<b>one</b>, two` is translated into `X **one** , two\n\n`, but should be translated into `X**one**, two\n\n` instead (without spaces around **one**).

- Version by `html2text --version`: 2020.1.16

- Test script

[code]
- Python version `python --version`: 3.8.2

[2020-06-11 11:59] 636f6d6d656e740a opened #325 "Markdown as an AST"
I've been looking at the source but I can't figure this out. Is the markdown ever in AST form? And can i access it? (rather than just returning the MD as a string)

[2020-06-15 09:19] equaeghe opened #326 "`None` link title assert hit"
There is the following in the code:

https://github.com/Alir3z4/html2text/blob/24aac8629f6a50ab262727815107384e0682cf42/html2text/__init__.py#L781

Of course someone managed to produce html with links of the form `<a title href="example.org">…<>` that trigger this assert. I think better than having the assert would be to replace

https://github.com/Alir3z4/html2text/blob/24aac8629f6a50ab2627278151

[2020-06-15 15:38] Alir3z4 commented on #326
Thanks for pointing these out.

Would like to know what @jdufresne thinks on this as well.

@equaeghe A pull request that fixes these is welcome.

[2020-06-16 12:04] equaeghe commented on #326
OK, see https://github.com/Alir3z4/html2text/pull/327. It seems there were some problems detected by the CI, but it wasn't really clear to me what the issue was. I fixed some style issues that were found, getting one extra test to be successful. But for the others, I'll need guidance. (Are they even all due to my changes?)

[2020-06-24 20:03] wsm3 opened #328 "ol list incorrect converte"
HTML
`<ol>
				<li><p style="margin-top:0pt;margin-bottom:0pt">This is an ordered list item 1</p>
				<ol>
					<li style="list-style-type:lower-alpha">This is an intented ordered list item 2</li>
				</ol>
				</li>
				<li>This is an ordered list item 2</li>
			</ol>`

RESULT

    1. This is an intented ordered list item 2
  2. This is an ordered list item 2

Before "1. This is an intented " nee

[2020-07-01 23:19] ExplodingCabbage opened #329 "Add option to ignore leading/trailing whitespace inside <a> tag"
- Version by `html2text --version`

2020.1.16

- Test script

[code]

This produces:

[code]

but it would be nicer if it produced:

[code]

I recognise that theoretically the whitespace can be meaningful to the rendering of the HTML, but it just as often isn't, and having an option to ignore it would be nice. (In fact, I'd suggest that option should be the default.)

- Python version `python --ve

[2020-07-02 02:53] jeremydouglass commented on #329
Such a default could cause problems. For one example:

`While editing I<a href="foo.com"> highlighted this </a>wrong.`

[2020-07-02 10:48] ExplodingCabbage commented on #329
Fair point! I guess the default should remain unchanged, then.

[2020-07-02 11:22] ExplodingCabbage commented on #199
These aren't entirely unexpected. In some dialects of Markdown (e.g. that used on Stack Overflow), single newlines in the markdown are ordinarily ignored and don't produce newlines in the rendered HTML, and to produce a `<br>` you need to have two trailing spaces before the newline.

However, in some *other* dialects of Markdown (e.g. the one on GitHub) that's not the case and
single
new
lines
in

[2020-07-15 12:15] keshavbohra opened #330 "Non-int margin value in html style attributes"
Hi,

I got a value error(**ValueError: invalid literal for int() with base 10: 'au'**) while reading style string for a html tag. The attribute was margin-left and its value was auto instead of an integer/float.

[code]

- Version by `2020.1.16`
- Python version `3.7.5`

[2020-07-20 22:49] Joseph-33 opened #331 "Html character entities adding additional backslashes"
Html2text was observed adding additional backslashes before a hyphen when parsing html strings using `html2text.html2text(str)`

**Example**

String Input:
`BEAK&gt; - Brean Down</a>`

Expected:
`BEAK> - Brean Down `

Actual:
`BEAK> \\- Brean Down `

There was a similar case for other other character entities as well:
`BEAK≤ \\- Brean Down`

- `2020.1.16` html2text version
- `Python 3.8.3` Python

[2020-08-04 11:58] EdwardJRoss opened #332 "Error converting bold and italics after a non-space."
- html2text version: `2020.1.16`
- Python version: `3.8.2`

Input:

[code]

Actual output does not appear to be correct Markdown

[code]

Expected output:

[code]

[2020-08-14 15:24] Enola-guy commented on #315
You are never using the `parser` with which you defined the body width...you are using directly `html2text.html2text(html)` so basically you called the function 3 times with 3 times the same default settings

[code]

[2020-08-28 13:19] arvindpdmn opened #334 "AssertionError for img src attribute"
Some web pages have errors. Rather than simply throwing an exception, it would be better to ignore benign errors and convert as much of the page as possible.

- Version by `html2text --version`: 2020.1.16
- Python version `python --version`: Python 3.7.7

- Test script:
[code]

- Log:
[code]

[2020-08-28 13:45] arvindpdmn commented on #334
BTW, I'm running code in a Jupyter Notebook. So, not sure how to disable asserts.

[2020-09-09 20:56] winlp4ever opened #336 "Transform <math> tag to math block in markdown (with $ symbol)"
Good morning,
I'm using `html2text` for my projects. There's one problem which is `html2text` doesn't 'case' <math> formulas inside $$. I wonder if there is any way or if not yet, any plan for transforming <math> blocks to $...$ blocks in Markdown.
Thank you,

[2020-09-10 02:32] jeremydouglass commented on #336
Can you provide an example of an input and a desired output? Are you talking about HTML5 MathML?

https://www.tutorialspoint.com/html5/html5_mathml.htm

[2020-09-10 07:20] winlp4ever commented on #336
Yes, here is an example,
Input:
[code]

Expected Output: `$${\displaystyle y=\mathbf {w} \cdot \mathbf {x} +b}$$`

So, it's not just MathML, this example is taken from wikipedia, as you can see, there's latex inside (I believe this is MathML + MathJax).

In general, I understand there's a lot of ways to write math in html, but given the fact that MathJax is becoming a standard nowadays for doing t

[2020-09-10 13:59] equaeghe commented on #326
Did you have time to look at my pull request. I again hit an issue fixed by it. Namely, someone managed to put a naked `alt` in `<img … alt …>`, which causes `alt=None`, which causes an exception, because `alt` is assumed to be a `str` or `bytes`.

[2020-09-10 20:27] jeremydouglass commented on #336
It sounds like perhaps you could do this as a preprocessing step? Pass it through your math pipeline of choice, then pass the result -- html, but with with $$ strings instead of <math> -- into html2text, arriving at your desired output?

[2020-09-11 00:20] jdufresne commented on #326
The general idea makes sense to me once the CI issues are hammered out.

[2020-09-11 06:23] equaeghe commented on #326
I'll have a look at them again. I think I now understand better how the CI works and where to find the errors.

[2020-09-11 13:29] equaeghe commented on #326
I managed to eliminate all but one of the issues:

https://travis-ci.org/github/Alir3z4/html2text/jobs/726262620

I need assistance with this one.

[2020-09-11 21:16] winlp4ever commented on #336
That's what I do now with regex. Anyway, thank you.

[2020-09-23 02:01] myifeng opened #337 "The picture url with "-" is converted to "-\n""
- Version by `2020.1.16`
[code]
- Python version `3.7.1`

[2020-10-19 14:44] equaeghe commented on #326
I tried again, but am still hitting an issue I can't seem to solve:

https://travis-ci.org/github/Alir3z4/html2text/jobs/737085613

I really need assistance with this one @Alir3z4 @jdufresne .

[2020-10-19 15:16] Alir3z4 commented on #326
Sorry, I missed this

The error is coming from mypy

[code]

Seems to be type issues on
[code]

[2020-10-19 19:27] equaeghe commented on #326
Ah, now I get it! Mypy does not infer that `attrs.get("href", "")` cannot be `'None`. I changed it to `attrs.get("href") or ""` to convince Mypy. (Bit of a shame, the former seems a more proper approach.) Now that test is passed as well. There's just the inclomplete coverage, but I have the impression that is not due to my patch.

Can you check if you can merge the pull request?

[2020-10-22 08:29] adulau opened #338 "Title and meta-headers - why is it not converted to text?"
We were wondering why title and meta-headers are not converted to text in html2text.

- What's the reasoning behind? Is it something from the original design of @aaronsw?

If we do a PR for such feature (as optional), will you merge it?

[2020-11-29 07:28] locphan57910 commented on #337
I have the same issue with Python 3.9 any solution?

[2020-11-29 15:20] equaeghe commented on #326
@jdufresne , @Alir3z4: Bump.

[2020-11-29 20:11] snarfed commented on #324
Also happens with other inline tags, eg `(<em>foo</em> bar` is translated to `( __foo__ bar`.

[2020-12-01 06:50] youradds opened #341 "Hangs on some files?"
- Version by ` html2text, version 1.3.2a`
- Test script
- Python version `Python 3.6.9`

I can't seem to get html2text to process this file:

[test.txt](https://github.com/Alir3z4/html2text/files/5620707/test.txt)

I'm trying both:

[code]

Weirdly if I add a new line to the end of the file, it works ??

[2020-12-01 07:38] youradds commented on #341
As an update - I have tried:

[code]

And even that fails (trying to programmatically add 2 new lines at the end, imitating my browser). So really, I'm not sure why its failing :/

[2020-12-02 06:49] rhlr commented on #334
Did you find any solution ?

[2020-12-02 07:46] arvindpdmn commented on #334
Nope

[2020-12-06 13:24] guettli opened #343 "Some images in the README are broken"
![image](https://user-images.githubusercontent.com/414336/101281359-c7371a80-37ce-11eb-8d3c-886d68ac2d66.png)

[2020-12-06 16:50] snarfed opened #344 "<ul> nested inside <ol> needs three space indent, not two"
First off, thank you for maintaining html2text, it's great!

Right now, list items are always indented two spaces per enclosing list. This is generally right, but doesn't work for `<ul>`s nested inside `<ol>s`. Those need three spaces (at least) instead. [Details here in the Common Mark spec.](https://spec.commonmark.org/0.28/#motivation)

I have a PR ready for this, I'll submit it in a minute.

F

[2020-12-10 20:13] jeremydouglass commented on #334
As a workaround, maybe preprocess your bad html with pytidylib?

[2021-01-11 13:29] JulienPalard opened #346 "Maybe remove the `forked from` subtitle?"
Hi! Thanks for maintaining html2text!

It can be disturbing to see the "forked from aaronsw/html2text" on the main page, make it looks like unofficial and may cost time to people (round tripping to aaronsw's repo, or to pypi to double check this is the right one).

I recently emailed github support, asking for them to remove it on one of my forks (same pattern: upstream was unmaintained, I'm now t

[2021-01-11 13:53] JulienPalard opened #347 "Unexpected backslask"
Hi!

- Version by `html2text --version`: 2020.1.16
- Test script: `<img src="/bar.png"/> + direction`
- Python version `python --version` `Python 3.9.0`

Given `<img src="/bar.png"/> + direction`, html2text give an unexpected backslash:
[code]

This is due to ` + direction` received by `handle_data`, it's given to `escape_md_section`, which escapes the `+` to avoid it being interpreted as a unorde

[2021-01-11 19:23] Alir3z4 commented on #346
Thank you for mentioning it.

I didn't know about this, thanks.

One of the reason I didn't want to remove _forked from_ (_or trying it_) or even re-uploading the code to fresh repo in the beginning was due to sentimental reasons I have over Arron story and even though it's mentioned on readme or in git history, I still didn't want to remove his name (_it's not like his name would need such action

[2021-01-13 10:27] JulienPalard commented on #346
Damn it's a fork from Aaron!? I totally missed the fact it was him, haha, I fully understand your reasons.

So ... I don't know what to say now, I don't want its memories to be erased neither... In the other hand I did *not* recognized it was him by its github handle, so the README with full name may be "enough"...

About the "time lost round-tripping to pypi to ensure this is the right repo", I d

[2021-01-21 19:00] gpiffaretti-cm commented on #347
Hi! I'm currently dealing with a similar issue which pointed me to the `escape_md_section` function and then this thread. Same specs that were pointed out by @JulienPalard

[code]

When I'd expect something like:

`[Manage]([% manage %]) your preferences`

In fact, this behaviour seems pretty tied to markdown when what I only want is plain-text from an html. Is there any way to _turn down the mark

[2021-01-22 08:43] JulienPalard commented on #347
I don't think html2text needs to "get away from markdown" to get this fixed, there's no need for backslahes in this place for this to be proper Markdown (even if the function has markdown in its name). The function is just too cautious and adds backslahes where it's not really needed.

[2021-03-03 19:11] ThatXliner commented on #347
there is, actually. It’s [beautifulsoup4](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)’s [`get_text()`](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#get-text) method

[2021-03-03 20:23] DavidPonceLopez opened #348 "It transforms </div> tags into \n\n"
- Version by `html2text --version` 2020.1.16
- Test script
import pyodbc
#After a SQL query to an MS-Access Database that has a column called "Description" formated into Rich Text (HTML). I am using the library pyodbc
rows = cursor.fetchall()
for row in rows:
    row.Description = html2text.html2text(row.Description)
    print (row)
#The result looks pretty good except it has transformed all the <

[2021-03-04 00:29] #348 closed

[2021-03-04 00:30] DavidPonceLopez commented on #348
The recipent API properly reads \n\n as line jump so it won't be a problem

[2021-03-10 20:28] Alir3z4 opened #349 "Use Github action instead of Travis CI"
Thank you Travis CI for all the work <3

Travis-CI.org is shutting down.

Also, using Github action feels like more integrated (?) and I have experience with auto release to PyPI.

[2021-03-10 20:31] #344 closed

[2021-03-23 02:44] HuadingLing opened #350 "Sometimes img src can be in attrs "data-src" instead of "src""
- html2text version: 2020.1.16
- Python version: 3.8.5

example url: [https://jingyan.baidu.com/article/4dc40848741808c8d946f18a.html](https://jingyan.baidu.com/article/4dc40848741808c8d946f18a.html) or WeChat articles.

I can not get all the images in such html. So I manually change the code of my local installed html2text.

[code]

I hope this can be considered in the future.

[2021-03-23 03:28] HuadingLing opened #351 "Feature request: add new option to save images locally"
It would be nice if there is option (e.g. ``SAVE_IMAGES``) to save images locally.

- Basic: save all the images in a folder (specified by the user).
- Advance: provider an entrance to the let the user decide params in ``![param1](param2)``. This can be done by passing a user defined function: (param1, param2) -> (label, src). Then the user can decide for himself how to save the images (in the fun

[2021-04-08 09:30] SebCorbin opened #352 "WRAP_LIST_ITEMS setting is not respected"
- Version 2020.1.16
- Python version 3.8.7

[code]

Should normally render

[code]

But instead it return unwrapped text

I suggest changing `skipwrap()` end of function to:

[code]

[2021-04-19 13:28] gpanders commented on #198
I just started using `html2text` the other day and it is awesome -- however, this is the one problem I've bumped into. I would also like to second (or third) this feature request.

[2021-04-23 11:07] wbolster commented on #334
here's a minimal reproducer:

[code]

[2021-05-05 17:16] #332 closed

[2021-05-05 17:19] #324 closed

[2021-05-12 18:59] jeremydouglass commented on #334
@wbolster and here is the corresponding workaround I mentioned earlier

'hi ![]() there\n\n'

[2021-05-18 02:06] johnkw commented on #346
I was also confused as to whether this was the correct repo for filing bug reports against the html2text that is delivered in Fedora. It seems it is, even though it looks unofficial.

[2021-05-18 02:20] johnkw opened #359 "Support html2text conversion to text, both in API and command line"
Many people have stuggled with how to get html2text to actually convert to text, instead of to Markdown.

Previous tickets include:
* Bug #170
* Bug #185
* https://github.com/aaronsw/html2text/issues/71

There are also tons of stackoverflow questions on this.  In some cases people recommend lxml or BeautifulSoup, but those do not do a good job of differentiating printable text from non-printable c

[2021-05-18 15:20] JulienPalard commented on #346
What I think would be great:

- Move « Originally written by Aaron Swartz. This code is distributed under the GPLv3. » on the top of the README,  right before the title.
- Remove the « forked from » subtitle.

Benefits:
- People may know Aaron Swartz from its full name better than from its github handle, at least I do. - It will be clearly displayed on clones and forks too (while the "forked from"

[2021-05-18 17:23] johnkw opened #360 "Add a space if non exists following an img alt"
For example the following is not a great rendering, and could generate incorrect results for ie a screen-reader for accessibility:
[code]

Expected output would be:
[code]

(There are probably several other cases of this conceptual bug, for example involving `<div>` tags. Those may warrant separate tickets depending on how this ticket is received.)

[2021-05-31 11:21] bjd-pfq commented on #185
@mj-dd

Well said. This is a con: it cannot perform what its name implies.

[2021-06-01 13:15] mpodolsk commented on #320
any plans to patch this issue, looks simple enough?

[2021-06-08 11:08] mpodolsk commented on #320
the issue is also present when the <tr> does not have corresponding </tr>.
closing the <tr> is optional.
this issue is present because whole table is treated as one line and the </special_marker_for_table_padding> is in that line

I will workup a fork.

[2021-06-12 08:46] Alir3z4 commented on #320
Fixed in https://github.com/Alir3z4/html2text/pull/361

[2021-06-12 08:46] #320 closed

[2021-06-16 16:34] mpodolsk commented on #320
when this will be tagged and published as a release ?
looking at repo tags there are some tags missing comparing to change-log notes.
latest points to 2019

[2021-06-21 15:55] theSage21 commented on #205
@anchal7299 would you be able to take care of this in your free time?

[2021-06-23 14:25] anchal7299 commented on #205
Yes sure

[2021-06-23 14:32] anchal7299 commented on #205
Hi @Alir3z4 ,
Is there any automatic build or do I directly commit to branch?

[2021-06-24 19:25] evprkr opened #364 "Circular import error"
[code]

This code (based on the basic usage example) is giving me the following error:

```AttributeError: partially initialized module 'html2text' has no attribute 'html2text' (most likely due to a circular import)```

Version: 2020.1.16
Python: 3.9.5

[2021-06-30 11:22] jarekwg opened #366 "Change the license"
Hiya,

GPL3 is a strong copyleft license; it prevents this code from being used in commercial projects.

There was a similar issue raised originally here, which just quietly fell by the wayside: https://github.com/aaronsw/html2text/issues/41

This is a great library, but completely shuts out a large portion of the developer community. :/

Any chance we could get it changed to eg. MIT or BSD-3-CLAU

[2021-07-04 18:16] johnkw opened #367 "colspan is entirely ignored, which results in misformated tables"
For example this test:
`echo '<table><tr><th colspan="2">A</th><th>B</th></tr><tr><td>1</td><td>2</td><td>3</td></tr></table>' | html2text --pad-tables`

Output is currently weirdly mangled with incorrect columns:
[code]

Output should be something like:
[code]

[2021-07-05 18:44] johnkw commented on #367
Today I learned: markdown bizarrely has no defined way of dealing with colspan or rowspan. The syntax I put in the original comment fails in common markdown parsers, such as the one github implemented.

Adding a blank dummy cell seems to be the best option at the moment, so the output should be:

[code]

Or as shown here in github's implementation of markdown:

A  |    | B
---|---|---
1  | 2 | 3

[2021-07-22 10:31] gdvalderrama commented on #317
Looks like this is still happening.

Currently using:

Python 3.7.11
html2text 2020.1.16

[2021-07-22 16:01] radze90 opened #369 "Semicolon in Text with &#."
html2text version 2020.1.16
Python version 3.9.5

[code]

**output:**
Sample text K&N.**;** Sample text.

Hi,

I noticed that the module inserts a simcolon in the text when converting a certain string, which I don't want. It doesn't matter which character comes after the &. Is this intentional and is it possible to work around this or is this a bug?

[2021-08-17 16:16] jeremydouglass commented on #170
Because this is repeatedly revisited both here and on the original repo:

For people looking for *plain text* as opposed to markdown text specifically, one option is to instead use pandoc.

-   Live demo: [Try Pandoc: HTML --> plain text](https://pandoc.org/try/?text=%3Ch1%3EHeading+1%3C%2Fh1%3E%0A%3Cp%3EA+paragraph+with+%3Cem%3Eemphasis%3C%2Fem%3E+and+%3Cstrong%3Ebold%3C%2Fstrong%3E.%3C%2Fp%3E%0A

[2021-08-17 16:22] jeremydouglass commented on #359
See also an option of instead using pandocs plain-text output, with example added here: https://github.com/Alir3z4/html2text/issues/170#issuecomment-900437450

[2021-08-17 22:13] bjd-pfq commented on #170
Thank you. I will definitely give it a go. Looks promising AND delivering. ;-)

[2021-08-29 21:48] pigmonkey opened #370 "IndexError when padding nested tables"
I use html2text with the `--pad-tables` flag in my mailcap to read HTML email. Occasionally, html2text will fail when attempting to process an unholy nested table mess.

For example, the following html demonstrates the problem:

[code]

Attempting to process this with the `--pad-tables` flag results in an `IndexError`:

[code]

It works fine without `--pad-tables`. If html2text cannot figure out t

[2021-10-12 16:15] mrh1997 opened #371 "inline tags within strong/strike/u/i/em/... does not handle spaces correctly"
Some inline tags require removing space between text and markdown (`<strong>TEXT   </string>` => `**TEXT**`)

When adding another inline tag within these tags space removal does not work proper any more:
[code]

- Version by `html2text --version`: 2020.1.16
- Python version `python --version`: 3.6.3

[2021-11-03 02:51] THuangIAN commented on #370
I also encountered similar problems, but I didn't find a solution to the problem, so how did you deal with it?

[2021-11-03 03:02] pigmonkey commented on #370
I have not found any solution.

[2021-12-22 14:13] smjonas commented on #323
You can use `ignore_anchors = True`

[2022-01-05 17:12] Spoonrad commented on #366
I very strongly support this! Our company wants to use this library but this is completely impossible with the very restrictive licence you have chosen to use. Given that you do not have any commercial licencing available and are clearly not trying to make profit from this library, I would kindly request that you change the licence to a more flexible licence for companies that use proprietary soft

[2022-01-19 15:16] rahil627 commented on #199
i second what @ExplodingCabbage said...

i ran into this program through a tool used for migrating wordpress to jekyll: exitwp.py. It uses this library. Now, i’m trying to find a way to preserve those new-lines, but i don’t really see an option, except the single-line-break, which doesn’t help. :(

this really sucks as the migration tool is absolutely PERFECT, save this newline problem. UNLESS...

[2022-02-02 09:08] karolzlot opened #375 "Different results when `HTML2Text` object is reused"
- Version by `html2text --version`
html2text==2020.1.16

- Python version `python --version`
3.8.8 on Ubuntu WSL2

- Test script:

[code]

Results:
[code]

(Should be 3 x `True`)
(I suggest adding unit test for this issue, after this is fixed)

index.html file (encoded in UTF-8):

[code]

[2022-02-02 09:12] karolzlot commented on #375
This is how it looks in debugger:

![image](https://user-images.githubusercontent.com/11590960/152125035-e5d552aa-563a-42f1-b009-efda0a1e45b0.png)

[2022-02-03 03:49] karolzlot commented on #346
From what I remember when number of stars on this fork will be greater than original repo, then this one will be considered "main" fork in search results (At least it worked this way before). "Forked from" however won't disappear automatically, so this is a way if you want to keep it.

[2022-03-01 17:47] kevinoid opened #376 "Strip leading/trailing whitespace for links and inline code"
It would be great if the fix from #177 for #142 which strips leading/trailing whitespace for emphasis/strong/underline/strikethrough could also be applied to links and inline code where they are [not significant with `white-space: normal`](https://www.w3.org/TR/css-text-3/#white-space-rules).

    html2text.html2text('<a href="https://example.com">\nExample\n</a>')
    '[ Example ](https://example

[2022-03-03 21:09] iamankan opened #377 "Cannot provide space between content of <option> tag in <select>"
\<option\>abc\</option\>\<option\>def\</option\>

Needed output: abc def

Getting output: abcdef

[2022-03-13 14:54] zhangboyi opened #378 "The export format is incorrect when the table tag contains < p > or < br >"
- Version by `2020.1.16`
- Test case
input
[code]

output
[code]

- Python version `3.8`

[2022-03-25 13:17] sowinski opened #381 "Featurerequest: Output without markdown"
Hi,

I found this library becaue I want to to html => text.
Unfortunately the library is doing html => markdown.

I haven't seen anything in the docs. Is it possible to disable the markdown output and just get plan text?

Regards
Philipp

[2022-03-25 17:24] sowinski opened #382 "RE_MD_DASH_MATCHER does not exist in the HTML2TEXT() object"
According to the docs
[https://github.com/Alir3z4/html2text/blob/master/docs/usage.md#available-options](https://github.com/Alir3z4/html2text/blob/master/docs/usage.md#available-options)
There is a RE_MD_DASH_MATCHER option.

I can not see this option.

[code]
Do I miss something?
Or is this a bug

[2022-03-25 18:19] sowinski commented on #48
Is it possible to turn of this feature?

[2022-03-27 19:04] kevinoid opened #383 "Character reference replacement results in raw HTML"
As a result of #109, character and entity references are unconditionally dereferenced.  This causes HTML which contains character references representing HTML-like text to be converted to markdown with raw HTML by html2text 2017.10.4 and later:

    $ echo "<p>Horizontal rule is &lt;hr&gt;</p>" | html2markdown
    Horizontal rule is <hr>

To make the problem clearer, consider round-tripping from H

[2022-03-28 20:10] kevinoid commented on #376
Potential duplicate (at least for inline links, if not code): #329

[2022-04-06 12:59] guettli opened #385 "Broken Images in README.md"
Broken Images in README.md

See:

![image](https://user-images.githubusercontent.com/414336/161980123-7515b819-26f8-4c95-8d5c-e58aeff1bf2f.png)

[2022-04-13 10:56] wizardforcel opened #386 "How can I parse the `<pre>` tag into tri-backquote style?"
For example:

[code]

into

<pre>
[code]
</pre>

[2022-05-11 09:35] devfox-se commented on #366
I support this proposal as well

[2022-05-11 09:38] branislav-brujic commented on #366
I totally agree with you guys.

[2022-05-25 11:52] roniemartinez opened #387 "[Bug] Assumes first row is always table header even if it is not"
The script:

[code]

Results to:
[code]

- Version by `html2text --version`: 2020.1.16
- Test script
- Python version `python --version`: Python 3.10.2

[2022-06-10 00:27] mborsetti commented on #346
FWIW I too was totally confused by the "forked" nomenclature of this repo.

It took me a while to figure out that this was **the** version to use!

[2022-06-20 05:06] strizhechenko opened #389 "--ignore-links flag creates new composite words in output"
Hi! I'm doing some natural language processing experiments and using html2text to make text sources out of internet pages. My problem is words in links are sticking to each other if I use --ignore-link flag:

[code]
example is specially simplified of course, but it "creates" new composite words. I've patched [it](https://github.com/Alir3z4/html2text/blob/master/html2text/__init__.py#L497) locally

[2022-08-06 14:40] xPMo opened #390 "Link titles break with encoded quote"
- Version by `html2text --version`: 2020.1.16
- Test script:

[code]

`[foo](/ """)` → [foo](/ """)
`[foo](/ "\"")` → [foo](/ "\"")

- Python version `python --version`: 3.10.5

[2022-08-09 18:07] Cabu commented on #381
Same here. Would be great :)

[2022-10-12 14:23] umutcoskun opened #394 "Ignoring some elements"
How to ignore elements with a specific className or ID? What I mean with "ignore" is: do not print them in the output.

[2022-10-14 17:31] contendaClara opened #395 "HTML <picture> Element not returned as image link from srcset"
The image link from the `srcset` is not returned in the markdown return in the \<picture\> html element. I expect it to be returned like if the image src was in the \<img\> html element.

Code snippet example:
[code]

Actual Output:
[code]

Expected Output:
- includes the image link (though I'm not particular for which one)
- same result as if using the \<img\> html element
[code]

- Version by `h